    <style>
      .easysearch-fitment-search-widget {
        border: none;
        padding: 3px 0 0 0;
      }
        .option-dropdowns {
            color: #0073e6;
            font-weight: bold;
            border-radius: 4px;
            display: inline-block;
            margin-top: 5px;
            height: fit-content;
            width: 100%;
        }
        {% comment %} .product-type-dropdown select {
          color: #000;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-sizing: border-box;
          display: block;
          font-size: 16px;
          padding: 10px;
          width: 100%;
          min-height: 45px;
          margin-bottom: 10px;
        }
        .product-type-dropdown {
            display: flex;
            flex-direction: column;
        } {% endcomment %}

        {% comment %} #product-type-select:disabled {
            color: #ccc;
        }

        #product-type-select {
          color: #000;
      } {% endcomment %}

        .divider {
          height: 1px;
          width: 104%;
          background-color: #ddd;
          margin: 5px 0 8px 0;
          opacity: 0.8;
          position: relative;
          left: -2%;
      }
        .option-title {
            font-size: 1.2rem;
            font-weight: 800;
            {% comment %} margin-bottom: 3px; {% endcomment %}
            color: #333;
            margin-bottom: 3px;
        }
        {% comment %} .option-title-quality {
          font-size: 1.2rem;
          font-weight: 800;
          margin-bottom: 3px;
          color: #333;
      } {% endcomment %}

        {% comment %} .option-title-vin {
          font-size: 1.2rem;
          font-weight: 800;
          margin-bottom: 3px;
          color: #333;
      } {% endcomment %}
        .paint-code-wrapper {
            margin-top: 3px;
        }
        .product-options .price-info {
            font-size: 1.1rem;
            font-weight: bold;
            color: #333;
            margin-top: 1rem;
        }

        {% comment %} .product-type-dropdown select[disabled]{
          background-color: #f0f0f0;
          color: #ccc;
          pointer-events: none;
          opacity: 0.6;
        } {% endcomment %}
      
        .combined-variant-dropdown {
            height: fit-content;
        }
        .combined-variant-dropdown select {
            width: 100%;
            padding: 0.75rem;
            font-size: 1rem;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: #fff;
            pointer-events: auto;
            opacity: 1;
        }
        .combined-variant-dropdown select[disabled] {
            background-color: #f0f0f0;
            color: #ccc;
            pointer-events: none;
            opacity: 0.6;
        }

        .find-paint-option-link-container {
          display: flex;
          justify-content: start;
          width: 100%;
          font-size: 14px;
          color: #0000EE;
        }      

        .paint-option-and-how-to-find-paint-code-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: start;
        }

        .find-paint-option-link-container {
          order: 1;
          display: flex;
          align-items: center;
          font-size: 14px;
          color: #0000EE;
          margin: 3px 0 8px 0;
        }
        
        .option-title {
          order: 2;
        }
        
        @media only screen and (min-width: 769px) {
          .paint-option-and-how-to-find-paint-code-wrapper {
            flex-direction: column;
            align-items: start;
          }
          
          .find-paint-option-link-container {
            order: 2;
            margin-bottom: 0;
            width: fit-content;
          }
        
          .option-title {
            order: 1;
          }
        }
    </style>

    {% assign makes = settings.makes_list | split: ", " %}
    {% assign excluded_makes = settings.excluded_makes_list | split: ", " %}
    {% assign bumperdotcom_makes = settings.bumperdotcom_makes_list | split: ", " %}
    {% assign is_make_found = false %}
    {% assign is_excluded_make_found = false %}
    {% assign is_bumperdotcom_make_found = false %}
    {% assign downcase_handle = product.handle | downcase %}

    {% for make in makes %}
      {% assign downcase_make = make | downcase %}
      {% if downcase_handle contains downcase_make %}
        {% assign is_make_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  
  
    {% for excluded_make in excluded_makes %}
      {% assign downcase_excluded_make = excluded_make | downcase %}
      {% if downcase_handle contains downcase_excluded_make %}
        {% assign is_excluded_make_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  
  
    {% for bumperdotcom_make in bumperdotcom_makes %}
      {% assign downcase_bumperdotcom_make = bumperdotcom_make | downcase %}
      {% if downcase_handle contains downcase_bumperdotcom_make %}
        {% assign is_bumperdotcom_make_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    
  
    <div class="option-dropdowns">
      <!-- Main Product Type Dropdown -->
      <div class="divider"></div>
      {% if is_only_oem == true %}
        {% render 'quality-type-dropdown', is_only_oem: true %}
      {% else %}
        {% render 'quality-type-dropdown', is_only_oem: false %}
      {% endif %}
      {% if product.variants.size > 1 %}
        {% if is_make_found %}
          <div class="divider"></div>
            <div class="combined-variant-dropdown">
              <div class="paint-option-and-how-to-find-paint-code-wrapper">
                <div class="find-paint-option-link-container" style="display: none;">
                  <a href="#" id="open-paint-code-modal">How To Find Your Paint Code</a>
                </div>               
                <label class="option-title" for="product-type-select">{{ 'paint_options.title' | t }}</label>
              </div>
              <div class="painted-stock-key" style="display: none;">
                {{  'variant_instock_message' | t }}
              </div> 
              <div class="paint-code-wrapper">
                <select id="variant-selector" name="id" disabled>
                  <option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>
                </select>
              </div>
              {% comment %} NOTE: the vin-decoder is the exact same as 'excluded-chromedata-makes.... maybe combine them and delete the other' {% endcomment %}
              {% render 'vin-decoder' %} 
            </div>
        {% elsif is_excluded_make_found %}
          <div class="divider"></div>
          <div class="combined-variant-dropdown">
            <div class="paint-option-and-how-to-find-paint-code-wrapper">
              <div class="find-paint-option-link-container" style="display: none;">
                <a href="#" id="open-paint-code-modal">How To Find Your Paint Code</a>
              </div>
              <label class="option-title" for="product-type-select">{{ 'paint_options.title' | t }}</label>
            </div>
            <div class="painted-stock-key" style="display: none;">
              {{  'variant_instock_message' | t }}
            </div> 
            <div class="paint-code-wrapper">
              <select id="variant-selector" name="id" disabled>
                <option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>
              </select>
            </div>
            {% comment %} Here is where i render the email/text input boxes for nonchromedata compatible makes {% endcomment %}
            {% render 'excluded-chromedata-makes' %}
          </div>
      {% elsif is_bumperdotcom_make_found %}
        <div class="divider"></div>
        <div class="combined-variant-dropdown">
          <div class="paint-option-and-how-to-find-paint-code-wrapper">
            <div class="find-paint-option-link-container" style="display: none;">
              <a href="#" id="open-paint-code-modal">How To Find Your Paint Code</a>
            </div>
            <label class="option-title" for="product-type-select">{{ 'paint_options.title' | t }}</label>
          </div>
          <div class="painted-stock-key" style="display: none;">
            {{  'variant_instock_message' | t }}
          </div> 
          <div class="paint-code-wrapper">
            <select id="variant-selector" name="id" disabled>
              <option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>
            </select>
          </div>
          {% comment %} Here is where i render the email/text input boxes for nonchromedata compatible makes {% endcomment %}
          {% render 'vin-decoder' %}
        </div>
        {% else %}
        <div class="divider"></div>
          <div class="combined-variant-dropdown">
            <div class="paint-option-and-how-to-find-paint-code-wrapper">
              {% comment %} <div class="find-paint-option-link-container">
                <a href="#" id="open-paint-code-modal">How To Find Your Paint Code</a>
              </div> {% endcomment %}
              <label class="option-title" for="product-type-select">{{ 'paint_options.title' | t }}</label>
            </div>
            <div class="painted-stock-key" style="display: none;">
              {{  'variant_instock_message' | t }}
            </div> 
            <div class="paint-code-wrapper">
              <select id="variant-selector" name="id" disabled>
                <option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>
              </select>
            </div>
          </div>
      {% endif %}
    {% endif %}
  </div>
  
  {% comment %} <script type="text/javascript" src="{{ 'delivery-countdown.js' | asset_url }}"></script> {% endcomment %}
  <script>
    document.addEventListener('DOMContentLoaded', async function() {
      let selectedType = '';
      let dataVariantTitle = '';
      let dataVariantSku = '';
      {% comment %} window.qualitySelectedType = ''; {% endcomment %}
      let unpainted = false;
      if('{{ product.variants.size }}' <= 1) {
        unpainted = true;
      };

      let chromeDataMake = true;
      {% comment %} if('{{ is_make_found }}' == 'true' || '{{ is_excluded_make_found }}' == "true" || '{{ is_bumperdotcom_make_found }}' == "true") {
        chromeDataMake = true;
      }; {% endcomment %}
      const productSku = '{{ product.variants.first.sku }}';


      const productVariants = {
            aftermarket: [
              {% if product.metafields.custom.aftermarket_product %}
                {% assign aftermarket_product_handle = product.metafields.custom.aftermarket_product %}
                {% if aftermarket_product_handle %}
                  {% assign aftermarket_product = all_products[aftermarket_product_handle] %}
                  {% assign aftermarket_variant_count = aftermarket_product.variants | size %}
                  {% if aftermarket_variant_count > 0 %}
                    {% if aftermarket_product %}
                      {% assign aftermarket_base_price = aftermarket_product.variants.first.price %}
                      {% assign base_variant_inventory = 0 %}
                      {% assign aftermarket_any_available_options = false %}

              
                      {% for variant in aftermarket_product.variants %}
                        {% if variant.title contains "Unpainted" or variant.title contains "Sin pintar" %}
                          {% assign base_variant_inventory = variant.inventory_quantity %}
                        {% endif %}
                        {% if variant.metafields.custom.hide_paint_code == true %}
                          {% continue %}
                        {% endif %}
                        {% if variant.title contains "Custom Paint Code" %}
                          {% continue %}
                        {% endif %}
                        {% assign aftermarket_variant_price = variant.price %}
                        {% assign price_difference = aftermarket_variant_price | minus: aftermarket_base_price %}

                        
                        {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                        {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                        {% if extra_inventory > 0 %}
                          {% assign aftermarket_any_available_options = true %}
                          {% assign has_extra_inventory = true %}
                        {% else %}
                          {% assign has_extra_inventory = false %}
                        {% endif %}
                          { 
                            "id": "{{ variant.id }}",
                            {% if variant.title contains "Unpainted" and shop.locale == "es"%}
                              "title": "Sin pintar +{{ price_difference | money }}",
                            {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                              "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                            {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                              "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                            {% else %}
                              "title": "{{ variant.title }} +{{ price_difference | money }}",
                            {% endif %} 
                            "price": "{{ variant.price | money }}",
                            "color": "{{ variant.metafields.custom.paint_preview_hex_code }}",
                            "variantTitle": "{{ variant.title }}",
                            "variantSku": "{{ variant.sku }}",
                            "variantInventory": "{{ variant.inventory_quantity }}",
                            "extraInventory": {{ extra_inventory }},
                            "baseInventory": {{ base_variant_inventory }},
                            "hasExtraInventory": {{ has_extra_inventory }},
                            "productTitle": "{{ aftermarket_product.title | escape  }}",
                            "productDescription": {{ aftermarket_product.description | json }},
                            "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                            {% comment %} "productSku": " {{ aftermarket_product.sku }}" {% endcomment %}
                            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                              {% if variant.title contains "Match Paint by VIN" %}
                                "class": "hidden-vin-option"
                              {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                          },
                      {% endfor %}
                    {% else %}
                      <option value="" disabled>No Aftermarket Options Available</option>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <option value="" disabled>No Aftermarket Product Assigned</option>
                {% endif %}
              {% endif %}
            ],
            capa: [
              {% if product.metafields.custom.capa_product %}
                {% assign capa_product_handle = product.metafields.custom.capa_product %}
                {% if capa_product_handle %}
                  {% assign capa_product = all_products[capa_product_handle] %}
                  {% assign capa_variant_count = capa_product.variants | size %}
                  {% if capa_variant_count > 0 %}
                    {% if capa_product %}
                      {% assign capa_base_price = capa_product.variants.first.price %}
                      {% assign base_variant_inventory = 0 %}
                      {% assign capa_any_available_options = false %}

              
                      {% for variant in capa_product.variants %}
                        {% if variant.title contains "Unpainted" or variant.title contains "Sin pintar" %}
                          {% assign base_variant_inventory = variant.inventory_quantity %}
                        {% endif %}
                        {% if variant.metafields.custom.hide_paint_code == true %}
                          {% continue %}
                        {% endif %}
                        {% if variant.title contains "Custom Paint Code" %}
                          {% continue %}
                        {% endif %}
                        {% assign capa_variant_price = variant.price %}
                        {% assign price_difference = capa_variant_price | minus: capa_base_price %}
                        
                        
                        {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                        {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                        {% if extra_inventory > 0 %}
                          {% assign capa_any_available_options = true %}
                          {% assign has_extra_inventory = true %}
                        {% else %}
                          {% assign has_extra_inventory = false %}
                        {% endif %}
                          { 
                            "id": "{{ variant.id }}",
                            {% if variant.title contains "Unpainted" and shop.locale == "es"%}
                              "title": "Sin pintar +{{ price_difference | money }}",
                            {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                              "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                            {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                              "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                            {% else %}
                              "title": "{{ variant.title }} +{{ price_difference | money }}",
                            {% endif %}
                            "price": "{{ variant.price | money }}",
                            "color": "{{ variant.metafields.custom.paint_preview_hex_code }}",
                            "variantTitle": "{{ variant.title }}",
                            "variantSku": "{{ variant.sku }}",
                            "extraInventory": {{ extra_inventory }},
                            "baseInventory": {{ base_variant_inventory }},
                            "hasExtraInventory": {{ has_extra_inventory }},
                            "variantInventory": "{{ variant.inventory_quantity }}",
                            "productTitle": "{{ capa_product.title | escape  }}",
                            "productDescription": {{ capa_product.description | json }},
                            "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                            {% comment %} "productSku": " {{ capa_product.sku }}" {% endcomment %}
                            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                              {% if variant.title contains "Match Paint by VIN" %}
                                "class": "hidden-vin-option"
                              {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                          },
                      {% endfor %}
                    {% else %}
                      <option value="" disabled>No CAPA Options Available</option>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <option value="" disabled>No CAPA Product Assigned</option>
                {% endif %}
              {% endif %}
            ],
            oem: [
              {% if product.metafields.custom.oem_product %}
                {% assign oem_product_handle = product.metafields.custom.oem_product %}
                {% if oem_product_handle %}
                  {% assign oem_product = all_products[oem_product_handle] %}
                  {% assign oem_variant_count = oem_product.variants | size %}
                  {% if oem_variant_count > 0 %}
                    {% if oem_product %}
                      {% assign oem_base_price = oem_product.variants.first.price %}
                      {% assign base_variant_inventory = 0 %}
                      {% assign oem_any_available_options = false %}

              
                      {% for variant in oem_product.variants %}
                        {% if variant.title contains "Unpainted" or variant.title contains "Sin pintar" %}
                          {% assign base_variant_inventory = variant.inventory_quantity %}
                        {% endif %}
                        {% if variant.metafields.custom.hide_paint_code == true %}
                          {% continue %}
                        {% endif %}
                        {% if variant.title contains "Custom Paint Code" %}
                          {% continue %}
                        {% endif %}
                        {% assign oem_variant_price = variant.price %}
                        {% assign price_difference = oem_variant_price | minus: oem_base_price %}

                        {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                        {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                        {% if extra_inventory > 0 %}
                          {% assign oem_any_available_options = true %}
                          {% assign has_extra_inventory = true %}
                        {% else %}
                          {% assign has_extra_inventory = false %}
                        {% endif %}
                          { 
                            "id": "{{ variant.id }}",
                            {% if variant.title contains "Unpainted" and shop.locale == "es" %}
                              "title": "Sin pintar +{{ price_difference | money }}",
                            {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                              "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                            {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                              "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                            {% else %}
                              "title": "{{ variant.title }} +{{ price_difference | money }}",
                            {% endif %} 
                            "price": "{{ variant.price | money }}",
                            "color": "{{ variant.metafields.custom.paint_preview_hex_code }}" ,
                            "variantTitle": "{{ variant.title }}",
                            "variantSku": "{{ variant.sku }}",
                            "extraInventory": {{ extra_inventory }},
                            "baseInventory": {{ base_variant_inventory }},
                            "hasExtraInventory": {{ has_extra_inventory }},
                            "variantInventory": "{{ variant.inventory_quantity }}",
                            "productTitle": "{{ oem_product.title | escape  }}",
                            "productDescription": {{ oem_product.description | json }},
                            "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                            {% comment %} "productSku": " {{ oem_product.sku }}" {% endcomment %}
                            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                              {% if variant.title contains "Match Paint by VIN" %}
                                "class": "hidden-vin-option"
                              {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                          },
                      {% endfor %}
                    {% else %}
                      <option value="" disabled>No OEM Options Available</option>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <option value="" disabled>No OEM Product Assigned</option>
                {% endif %}
              {% endif %}
            ],
            current: [
              {% assign current_base_price = product.variants.first.price %}
              {% for variant in product.variants %}
                {% if variant.metafields.custom.hide_paint_code == true %}
                  {% continue %}
                {% endif %}
                {% if variant.title contains "Custom Paint Code" %}
                  {% continue %}
                {% endif %}
                {% assign current_variant_price = variant.price %}
                {% assign price_difference = current_variant_price | minus: current_base_price %}
                { 
                  "id": "{{ variant.id }}",
                  {% if variant.title contains "Unpainted" and shop.locale == "es" %}
                    "title": "Sin pintar +{{ price_difference | money }}",
                  {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                    "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                  {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                    "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                  {% else %}
                    "title": "{{ variant.title }} +{{ price_difference | money }}",
                  {% endif %} 
                  "price": "{{ variant.price | money }}",
                  "color": "{{ variant.metafields.custom.paint_preview_hex_code }}",
                  "variantTitle": "{{ variant.title }}",
                  "variantSku": "{{ variant.sku }}",
                  "variantInventory": "{{ variant.inventory_quantity }}",
                  "productTitle": "{{ product.title | escape }}",
                  "productDescription": {{ product.description | json }},
                  "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                  {% comment %} "productSku": " {{ product.sku }}" {% endcomment %}
                  {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %}
                    {% if variant.title contains "Match Paint by VIN" %}
                      "class": "hidden-vin-option"
                    {% endif %}
                  {% endif %}
                },
              {% endfor %}
            ]
      };

        {% comment %} window.selectedProductType = ''; {% endcomment %}
        const productTypeSelect = document.getElementById('product-type-select');
        const combinedVariantSelect = document.getElementById('variant-selector');
        const selectVinVariantButton = document.getElementById('select-vin-variant');
        {% comment %} const combinedVariantContainer = document.querySelector('.combined-variant-dropdown'); {% endcomment %}
        const priceInfo = document.querySelector('.price-info');
        const priceDisplay = document.getElementById('price-display');
        const priceDisplaySmallScreen = document.getElementById('price-display-small-screen');
        const titleElement = document.querySelector('.product-title');
        const productPartDescription = document.querySelector('.product-description-collapsible-text');
        const priceContainerLargeScreen = document.querySelector('.price-container-large-screen');
        const priceContainerSmallScreen = document.querySelector('.price-container');
        const oemVinContainer = document.querySelector('.oem-vin-container');
        const vinTextBox = document.getElementById('vin-textbox-for-oem');
        const vinTextBoxForPaintOption = document.getElementById('vin-textbox');
        const addToCartButton = document.getElementById('add-to-cart');
        const addToCartForUnpainted = document.getElementById('add-to-cart-for-unpainted');

        const howToFindPaintCodeBtn = document.getElementById('how-to-find-your-paint-code-vindecoder');
        const getPaintCodeUsingVin = document.querySelector('.get-paint-code-using-vin');

        const asmSettings = document.getElementById("asm-settings");
        const isDeliveryCountdownEnabled = asmSettings.dataset.deliveryCountdown === "Enabled";

        const hasAvailableOptions = {
          aftermarket: {{ aftermarket_any_available_options | default: false | json }},
          capa: {{ capa_any_available_options | default: false | json }},
          oem: {{ oem_any_available_options | default: false | json }}
        };


        let currentAddToCartBtn;
        if(addToCartButton) {
          currentAddToCartBtn = addToCartButton;
        } else if(addToCartForUnpainted) {
          currentAddToCartBtn = addToCartForUnpainted;
        }

        let matchingByVin = false;
        let oem;

        function decodeHtmlEntities(text) {
          const tempElement = document.createElement('textarea');
          tempElement.innerHTML = text;
          return tempElement.value;
        }


        // For unpainted products that have multiple qualities available, need to query all possible etas 
        // on DOM content load
        if (isDeliveryCountdownEnabled) {
          // The following is for unpainted products that have quality selection
            if (!combinedVariantSelect) {
              const variants = productVariants;
              receivedProductVariants(variants);


              let unpaintedSku;
              for (let key in variants) {
                if (variants.hasOwnProperty(key)) {
                    let variant = variants[key];

                    if(variant.length) {
                      unpaintedSku = variant[0].variantSku;
                      setProductSku(unpaintedSku);
                      queryAllETAs(key, 0);
                    }
                }
              }
            }
          }

        function changingPaintOptions(matchPaintByVin) {
          let selectedOption;

          if(!matchPaintByVin) {
            selectedOption = combinedVariantSelect.options[combinedVariantSelect.selectedIndex];
           } else {
            selectedOption = combinedVariantSelect.options[2];
          };
          dataVariantTitle = selectedOption.getAttribute('data-variant-title');
          receivedDataVariantTitle(dataVariantTitle);
          dataVariantSku = selectedOption.getAttribute('data-variant-sku');
          receivedDataVariantSku(dataVariantSku);

          if(dataVariantTitle === 'Match Paint by VIN') {
            matchingByVin = true;
          } else {
            matchingByVin = false;
          }

          const selectedPrice = selectedOption ? selectedOption.dataset.price : null;
          const selectedColor = selectedOption ? selectedOption.dataset.color : null;
          const selectedTitle = selectedOption ? selectedOption.dataset.variantTitle : null;

          if (selectedPrice) {
              priceDisplay.textContent = selectedPrice;
              priceDisplaySmallScreen.textContent = selectedPrice;
          }

          window.selectedProductColor = selectedColor;
          if (selectedColor) {
            window.selectedProductTitle = selectedTitle
          }

          if (isDeliveryCountdownEnabled) {
            getCountdownAndGeoValues();
          }
          clearVinVerificationRadioButtons();
          updateProgressHeaderColors();
        }

        
        // 2. Populate the variant dropdown based on selected product type
        async function populateVariantDropdown(selectedType) {
          const vinMessageParagraph = document.querySelector('.vin-decoder-message');
            if (combinedVariantSelect) {
              combinedVariantSelect.innerHTML = '<option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>';
            }


          if (combinedVariantSelect) {
            clearCombinedVariantSelect(); // Reset to first option (Select Paint Code)
            disableAddToCartButton();
          }

            // Get the relevant variants for selected product type
            let variants = productVariants[selectedType] || [];

            if(variants.length === 0) {
              variants = productVariants.current;
            }
            const variantsUpdateEvent = new CustomEvent('variantsUpdated', { detail: { variants } });
            document.dispatchEvent(variantsUpdateEvent);
            
            if (variants.length > 0) {
              if(combinedVariantSelect) {
                enableCombinedVariantSelect();
                updateProgressHeaderColors();
              }
              enablehowToFindPaintCodeBtn();
              enableGetPaintCodeUsingVin();
              enableSelectVinVariantBtn();

                variants.forEach(function(variant) {
                  window.selectedVariantId = variant.id;
                  let option;

                  // Compose base label
                  let optionLabel = `${variant.title}`;

                  // If it has extra inventory, append the tag to the text
                  if (variant.hasExtraInventory) {
                    optionLabel += " 🚚";
                  }


                  if(chromeDataMake) {
                    // Check if the variant is "Match Paint by VIN"
                    if (variant.title.trim().startsWith("Match Paint by VIN") || variant.title.trim().startsWith("Pintura de combinación por VIN")) {
                      // Create a div instead of an option
                      const div = document.createElement("div");
                      div.classList.add("hidden-vin-option");

                      // Copy attributes to div
                      div.setAttribute("data-price", variant.price || "");
                      div.setAttribute("data-color", variant.color || "");
                      div.setAttribute("data-variant-title", variant.variantTitle || "");
                      div.setAttribute("data-product-title", variant.productTitle || "");
                      div.setAttribute("data-variant-sku", variant.variantSku || "");
                      {% comment %} div.setAttribute("data-product-sku", variant.productSku || "");  {% endcomment %}

                      // Set text content
                      div.dataset.value = variant.id || "";
                      div.textContent = variant.title;
                      div.style.display = "none";

                      // Append div after select
                      combinedVariantSelect.insertAdjacentElement("afterend", div);
                      return;
                    } else {
                      // Create an option normally
                      option = document.createElement("option");
                      option.value = variant.id;
                      option.textContent = optionLabel;
                      option.dataset.price = variant.price;
                      option.dataset.color = variant.color;
                      option.dataset.variantTitle = variant.variantTitle;
                      option.dataset.productTitle = variant.productTitle;
                      option.dataset.variantSku = variant.variantSku;
                      {% comment %} option.dataset.productSku = variant.productSku || ""; // Add this line {% endcomment %}
                    }
                  } else {
                    option = document.createElement('option');
                    option.value = variant.id;
                    option.textContent = optionLabel;
                    option.dataset.price = variant.price;
                    option.dataset.color = variant.color;
                    option.dataset.variantTitle = variant.variantTitle;
                    option.dataset.productTitle = variant.productTitle;
                    option.dataset.variantSku = variant.variantSku;
                    {% comment %} option.dataset.productSku = variant.productSku || ""; // Add this line {% endcomment %}
                  }

                  if(failedVinDecode === true) {
                    option.style.display = "block";
                  }

                  if(variant.productTitle.length > 0) {
                    const productTitle = decodeHtmlEntities(variant.productTitle);
                    if(selectedType !== "oem") {
                      titleElement.textContent = productTitle;
                    }
                    if(productTitle.includes("CAPA")) {
                      const oemImg = document.getElementById('oem-badge');
                      if (oemImg) {
                        oemImg.remove();
                      }
                      const capaImgId = document.getElementById('capa-certified-badge');
                      if(!capaImgId) {
                        const capaImg = document.createElement('img');
                        capaImg.src = 'https://cdn.shopify.com/s/files/1/0248/6291/6693/files/Capa_Certified_Icon_26a22ba1-e72d-4724-a44d-e73fbf1f0d2d.png';
                        capaImg.alt = 'CAPA Certified';
                        capaImg.id = 'capa-certified-badge';

                        capaImg.style.position = 'relative';
                        capaImg.style.height = "34px";
                        capaImg.style.margin = "0 0 0 10px";

                        if(window.innerWidth > 720) {
                          priceContainerLargeScreen.appendChild(capaImg);
                        } else {
                          priceContainerSmallScreen.appendChild(capaImg);
                        }
                        
                      }
                    } else {  
                      if(!productTitle.includes("OEM")) {
                        const capaImg = document.getElementById('capa-certified-badge');
                        if (capaImg) {
                          capaImg.remove();
                        }
                        const oemImg = document.getElementById('oem-badge');
                        if (oemImg) {
                          oemImg.remove();
                        }
                      }
                    }
                  }

                  // Optionally add class to selected item or add tooltip
                  if (variant.hasExtraInventory) {
                    option.dataset.status = "ready-to-ship";
                    option.title = "Ready to ship"; // Tooltip when hovering
                  }
                  const tempElement = document.createElement('div');
                  tempElement.innerHTML = variant.productDescription;
                  if (productPartDescription) {
                      productPartDescription.innerHTML = tempElement.innerHTML;
                  }
                  if(combinedVariantSelect) {
                    combinedVariantSelect.appendChild(option);
                  }
                });
            } else {
                if(combinedVariantSelect) {
                  disableCombinedVariantSelect();
                  clearCombinedVariantSelect();
                  disableAddToCartButton();
                  updateProgressHeaderColors();
                }
                disablehowToFindPaintCodeBtn();
                disableGetPaintCodeUsingVin();
                disableSelectVinVariantBtn();
            }
        }

        // 3. When product type is selected
        if(productTypeSelect) {
          productTypeSelect.addEventListener('change', async function () {
            selectedType = productTypeSelect.value;
            const selectedOption = productTypeSelect.selectedOptions[0];
            window.selectedProductSku = selectedOption.getAttribute('quality-sku');

            const precisionMatchWrapper = document.querySelector('.product-page-precision-match-wrapper');
            if(precisionMatchWrapper && precisionMatchWrapper.classList.contains('show')) {
              precisionMatchWrapper.classList.remove('show');
            }

            setQualitySelectedType(selectedType);
          
            togglePaintedStockKey(selectedType, hasAvailableOptions);
            handleDeliveryCountdown(selectedType);
            handleVINUIChanges(selectedType);
            updatePriceDisplay(selectedType);

            disableVinVerificationBtns()
            clearVinVerificationRadioButtons();
            disablePrecisionMatchBtns()
            clearPrecisionMatchRadioButtons();
            if(combinedVariantSelect) disableVinVerificationBtns();
          
            if (selectedType !== "oem") {
              await handleNonOEMSelection(selectedType);
            } else {
              await handleOEMSelection();
            }
          });
        }
        

        // 4. When a variant is selected, show the price
        if(combinedVariantSelect) { 
            combinedVariantSelect.addEventListener('change', function() {
              changingPaintOptions(false);
          });
        }




  /*******************************************************************************************************
  **                                                                                                    **
  **                                             FUNCTIONS                                              **
  **                                                                                                    **
  *******************************************************************************************************/

        function handleDeliveryCountdown(selectedType) {
          if (!isDeliveryCountdownEnabled) return;
        
          if (combinedVariantSelect) {
            receivedProductVariants(productVariants);
            setProductSku(productSku);
            queryAllETAs(selectedType, 0);
          } else {
            let variant = productVariants[selectedType]?.[0];
            if (!variant) return;
        
            receivedDataVariantTitle("Unpainted");
            receivedDataVariantSku(variant.variantSku);
            getCountdownAndGeoValues();
          }
        }
        
        function handleVINUIChanges(selectedType) {
          const container = document.querySelector('.vin-options-container');
          const vinMessageParagraph = document.querySelector('.vin-decoder-message');
        
          if (!vinMessageParagraph && combinedVariantSelect && vinTextBoxForPaintOption) {
            vinTextBoxForPaintOption.value = '';
            vinTextBoxForPaintOption.style.display = 'none';
          }
        
          if (selectVinVariantButton) selectVinVariantButton.style.display = 'block';
        
          if (selectedType === "oem") {
            if (!failedVinDecode && !matchingByVin) {
              oemVinContainer.style.display = "block";
            }
            if (container) container.style.display = "none";
          } else {
            oemVinContainer.style.display = "none";
            if (container && container.style.display === "none") {
              container.style.display = "flex";
            }
          }
        }
        
        async function handleNonOEMSelection(selectedType) {
          if (!combinedVariantSelect) enableAddToCartButton();
        
          if (!failedVinDecode) vinTextBox.value = '';
        
          oem = null;
          await populateVariantDropdown(selectedType);
        
          if (matchingByVin) changingPaintOptions(true);
          updateProgressHeaderColors();
        }
        
        async function handleOEMSelection() {
          const variants = productVariants['oem'];
          if (!variants || variants.length === 0) return;
        
          if (combinedVariantSelect) {
            clearCombinedVariantSelect();
            disableCombinedVariantSelect();
            disableAddToCartButton();
          } else {
            disableAddToCartButton();
          }
        
          titleElement.textContent = decodeHtmlEntities(variants[0].productTitle);
        
          if (variants[0].productTitle.includes("OEM")) addOEMBadge();
        
          const tempElement = document.createElement('div');
          tempElement.innerHTML = variants[0].productDescription;
          if (productPartDescription) productPartDescription.innerHTML = tempElement.innerHTML;
        
          if (!failedVinDecode) vinTextBox.value = '';
        
          oem = 'oem';
        
          if (combinedVariantSelect && !failedVinDecode && !matchingByVin) {
            disableCombinedVariantSelect();
            clearCombinedVariantSelect();
            disablehowToFindPaintCodeBtn();
            disableGetPaintCodeUsingVin();
            disableAddToCartButton();
            updateProgressHeaderColors();
          }
        
          if (failedVinDecode) {
            await populateVariantDropdown(oem);
            changingPaintOptions(matchingByVin);
          }
        
          updateProgressHeaderColors();
        }

/*******************************************************************************************************
**                                                                                                    **
**                                            VIN TEXTBOX FOR OEM                                     **
**                                                                                                    **
*******************************************************************************************************/

        document.getElementById('vin-textbox-for-oem').addEventListener('input', async function(event) {
          storedVin = event.target.value;
          
          const vinInput = event.target.value.toUpperCase();
          const warning = document.getElementById('vin-warning-for-oem');
          const precisionMatchWrapper = document.querySelector('.product-page-precision-match-wrapper');


          // Remove I, O, Q characters
          const filteredValue = vinInput.replace(/[IOQ\s:;()!@#$%^?'"&*\-_=+.`~<>{}\[\]|,\/\\]/gi, '');

          if (vinInput !== filteredValue) {
              alert("Please enter valid characters. I,O, & Q and other special characters are not included in VINs");
          } else {
              warning.style.display = 'none';
          }

          event.target.value = filteredValue;

        //For failed vin decode and match by vin is selected, disable the variant 
        //select because the vin textbox for oem is not displayed
          if(failedVinDecode && matchingByVin) {

            disableCombinedVariantSelect();
            clearCombinedVariantSelect();
            disablehowToFindPaintCodeBtn();
            disableGetPaintCodeUsingVin();
            disableAddToCartButton();
            await populateVariantDropdown(oem);
            if(matchingByVin) {
              changingPaintOptions(true);
            }
            updateProgressHeaderColors();
        // Ensure VIN input is 17 characters before enabling Add to Cart
          } else if (vinInput.length === 17) {
            await populateVariantDropdown(oem);
            if(!combinedVariantSelect) enableAddToCartButton();
            updateProgressHeaderColors();
          } else {
            if(precisionMatchWrapper && precisionMatchWrapper.classList.contains('show')) {
              precisionMatchWrapper.classList.remove('show');
            }
            disableCombinedVariantSelect();
            clearCombinedVariantSelect();
            disablePrecisionMatchBtns();
            clearPrecisionMatchRadioButtons();
            disableVinVerificationBtns();
            clearVinVerificationRadioButtons();
            disablehowToFindPaintCodeBtn();
            disableGetPaintCodeUsingVin();
            disableAddToCartButton();
            updateProgressHeaderColors();
          }
      });
    });
  </script>
  