<style>
  .garage-close-button {
    font-size: 32px;
    height: 32px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: start;
    justify-content: end;
  }
  .my-garage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .my-garage-header h1,
  .select-your-vehicle-header h1 {
    text-align: left;
    font-size: 16px;
    margin: 0;
  }

  @media (min-width: 380px) {
    .my-garage-header h1,
    .select-your-vehicle-header h1 {
      font-size: 18px;
    }
  }

  @media (min-width: 460px) {
    .my-garage-header h1,
    .select-your-vehicle-header h1 {
      font-size: 20px;
    }
  }

  @media (min-width: 720px) {
    .my-garage-header h1,
    .select-your-vehicle-header h1 {
      font-size: 24px;
    }
  }

  .select-your-vehicle-header h2 {
    text-align: left;
    font-size: medium;
    margin: 0;
    color: #555;
    margin-top: 5px;
    font-weight: 500;
  }
  .my-garage-header h4 {
    text-align: right;
    font-size: 14px;
    margin: 5px 0;
    color: #ff0000;
    font-weight: 500;
  }
  .vehicle-selection-blurb {
    font-size: 14px;
    margin: 5px 0 10px 0;
    color: #313131;
    text-align: left;
  }
  .clear-garage {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .vehicle-list {
    color: #000;
    padding: 0;
    margin-top: 0;
  }
  #add-vehicle-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: fit-content;
    padding: 8px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    color: #000;
  }
</style>

<div class="garage-easyYMM-popup hidden">
  <div class="garage-easyYMM-popup-overlay">
    <div class="garage-easyYMM-popup-wrapper">
      <div class="garage-easyYMM-popup-container">
        <div class="garage-close-button" role="button">&times;</div>
        <div class="select-your-vehicle-header" style="display: none;">
          <h1>{{ 'garage.select_vehicle_title' | t }}</h1>
          <h2>{{ 'garage.select_vehicle_subtitle' | t }}</h2>
        </div>
        <div class="garage-block">
          <div class="my-garage-header">
            <h1>{{ 'garage.title' | t }}</h1>
            {% comment %}
              <button class="clear-garage">
                <h4>Clear All</h4>
              </button>
            {% endcomment %}
          </div>
          {% comment %}
            <div class="product-does-not-fit-garage-msg" style="display: none;">
              This product does not fit your selected vehicle. Please select another or browse parts that fit your
              vehicle.
            </div>
          {% endcomment %}
          <p class="vehicle-selection-blurb">{{ 'garage.subtitle' | t }}</p>
          <div class="vehicle-list"></div>
        </div>
        <button id="add-vehicle-btn" style="display: none;">{{ 'garage.add_vehicle_btn' | t }}</button>
        <div class="easyYMM-holder">
          <div class="easyYMM">
            <div class="easysearch-slides-block first--home">
              <div class="container">
                <div>
                  {% capture easysearchWidget %}{% render "easysearch" %}{% endcapture %}
                  {% unless easysearchWidget contains 'Liquid error' %}{{ easysearchWidget }}{% endunless %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="vin-to-collection-or" style="display:none;">{{ 'garage.or' | t }}</div>
      <!-- Preload the VIN-to-Collection form in a hidden div -->
      <div id="vin-to-collection-placeholder" style="display:none;">
        {% render 'vin-to-collection' %}
      </div>
    </div>
  </div>
</div>
