<style>
    .product-page-painted-products-wrapper {
        width: 100%;
    }
</style>

<div class="product-page-painted-products-wrapper">
    {% assign base_variant_inventory = 0 %}
    {% assign any_available_options = false %}
    <!-- Variant Dropdown if paint selection but no quality selection -->
      <!-- For makes easily found with chromedata (e.g. Nissan) -->
      {% if is_make_found %}
        <div id="variant-selector-container">
          <div class="divider-large-screen"></div>
          <label for="variant-selector" class="option-title">{{ 'paint_options.title' | t }}</label>
          <div class="painted-stock-key" style="display: none;">
              {{  'variant_instock_message' | t }}
          </div> 

          <div class="paint-code-wrapper">
            <select id="variant-selector" name="id" class="variant-dropdown">
              <option value="" selected disabled>{{ 'paint_options.title' | t }}</option>
              {% for variant in product.variants %}
                {% if variant.title contains "Unpainted" %}
                  {% assign base_variant_inventory = variant.inventory_quantity %}
                {% endif %}


                {% if variant.title contains "Unpainted" and shop.locale == "es"%}
                  {% assign translated_title = "Sin pintar" %}
                {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                  {% assign translated_title = "Código de pintura personalizado (Te contactaremos)" %}
                {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                  {% assign translated_title = "Pintura de combinación por VIN" %}
                {% else %}
                  {% assign translated_title = variant.title %}
                {% endif %}

                
                {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                {% if extra_inventory > 0 %}
                  {% assign has_extra_inventory = true %}
                  {% assign any_available_options = true %}
                {% else %}
                  {% assign has_extra_inventory = false %}
                {% endif %}

                  {% if variant.metafields.custom.hide_paint_code == true %}
                    {% continue %}
                  {% endif %}
                  {% comment %} {% if variant.title contains "Match Paint by VIN" %}
                      {% continue %}
                  {% endif %} {% endcomment %}
                  {% if variant.title contains "Custom Paint Code" %}
                      {% continue %}
                  {% endif %}
                {% if v.title == value and v.metafields.custom.hide_paint_code == true %}
                  {% continue %}
                  {% endif %}
                  {% assign price_diff = variant.price | minus: product.price_min | money %}  
                  {% if price_diff == 0 %}
                      {{ '' }}
                  {% else %}
                      {{ '+' }}{{ price_diff | money | remove: '.00' }}
                  {% endif %}
                  {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %}
                    {% unless variant.title contains "Match Paint by VIN" or variant.title contains "Pintura de combinación por VIN" %}
                      {% if has_extra_inventory == true %}
                        <option 
                            value="{{ variant.id }}"
                            title="{{ translated_title }}" 
                            sku="{{ variant.sku }}" 
                            class="variant-option"
                            data-price="{{ variant.price }}">
                            {{ translated_title }} + {{ price_diff }} 🚚
                        </option>
                      {% else %}
                        <option 
                          value="{{ variant.id }}"
                          title="{{ translated_title }}" 
                          sku="{{ variant.sku }}" 
                          class="variant-option"
                          data-price="{{ variant.price }}">
                          {{ translated_title }} + {{ price_diff }}
                        </option>
                      {% endif %}
                    {% endunless %}
                  {% else %}
                    {% if has_extra_inventory == true %}
                      <option 
                        value="{{ variant.id }}"
                        title="{{ translated_title }}"
                        sku="{{ variant.sku }}"
                        class="variant-option"
                        data-price="{{ variant.price }}">
                        {{ translated_title }} + {{ price_diff }} 🚚
                      </option>
                    {% else %}
                      <option 
                        value="{{ variant.id }}"
                        title="{{ translated_title }}"
                        sku="{{ variant.sku }}"
                        class="variant-option"
                        data-price="{{ variant.price }}">
                        {{ translated_title }} + {{ price_diff }}
                      </option>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </select>

            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                <!-- This is to make the Match Paint by VIN present on the DOM but not initially as an option -->
              {% for variant in product.variants %}
                {% if variant.title contains "Match Paint by VIN" %}
                  {% if shop.locale == "es" %}
                    {% assign translated_title = "Pintura de combinación por VIN" %}
                  {% else %}
                    {% assign translated_title = variant.title %}
                  {% endif %}
                  <div 
                    data-value="{{ variant.id }}" 
                    class="hidden-vin-option-single-quality"
                    data-price="{{ variant.price }}"
                    style="display: none;">
                    {{ translated_title }} + {{ price_diff }}
                  </div>
                {% endif %}
              {% endfor %}
            {% comment %} {% endif %} {% endcomment %}

            {% render 'vin-decoder' %}
          </div>
        </div>
        

        <!-- Everything but nissans (and other chromedata make lookups)-->
      {% else %}
        <div id="variant-selector-container">
          <div class="divider-large-screen"></div>
          <label for="variant-selector" class="option-title">{{ 'paint_options.title' | t }}</label>
          <div class="painted-stock-key" style="display: none;">
              {{  'variant_instock_message' | t }}
          </div> 
          <div class="paint-code-wrapper">
            <select id="variant-selector" name="id" class="variant-dropdown">
              <option value="" selected disabled>{{ 'paint_options.title' | t }}</option>


              {% for variant in product.variants %}
                {% if variant.title contains "Unpainted" %}
                  {% assign base_variant_inventory = variant.inventory_quantity %}
                {% endif %}


                {% if variant.title contains "Custom Paint Code" %}
                  {% continue %}
                {% endif %}
                {% if variant.title contains "Unpainted" and shop.locale == "es"%}
                  {% assign translated_title = "Sin pintar" %}
                {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                  {% assign translated_title = "Pintura de combinación por VIN" %}
                {% else %}
                  {% assign translated_title = variant.title %}
                {% endif %}

              
                {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                {% if extra_inventory > 0 %}
                  {% assign has_extra_inventory = true %}
                  {% assign any_available_options = true %}
                {% else %}
                  {% assign has_extra_inventory = false %}
                {% endif %}
                
                {% assign price_diff = variant.price | minus: product.price_min | money %}  
                {% if price_diff == 0 %}
                    {{ '' }}
                {% else %}
                    {{ '+' }}{{ price_diff | money | remove: '.00' }}
                {% endif %}
                {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                  {% unless variant.title contains "Match Paint by VIN" or variant.title contains "Pintura de combinación por VIN" %}
                    {% if has_extra_inventory == true %}
                    <option 
                        value="{{ variant.id }}" 
                        title="{{ translated_title }}"
                        sku="{{ variant.sku }}"
                        class="variant-option"
                        data-price="{{ variant.price }}">
                        {{ translated_title }} + {{ price_diff }} 🚚
                    </option>
                  {% else %}
                    <option 
                      value="{{ variant.id }}" 
                      title="{{ translated_title }}"
                      sku="{{ variant.sku }}"
                      class="variant-option"
                      data-price="{{ variant.price }}">
                      {{ translated_title }} + {{ price_diff }}
                    </option>
                  {% endif %}                               
                  {% endunless %}
              {% endfor %}
            </select>
            
            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
              <!-- This is to make the Match Paint by VIN present on the DOM but not initially as an option -->
              {% for variant in product.variants %}
                {% if variant.title contains "Match Paint by VIN" %}
                  {% if shop.locale == "es" %}
                    {% assign translated_title = "Pintura de combinación por VIN" %}
                  {% else %}
                    {% assign translated_title = variant.title %}
                  {% endif %}
                  <div 
                    data-value="{{ variant.id }}" 
                    class="hidden-vin-option-single-quality"
                    data-price="{{ variant.price }}"
                    style="display: none;">
                    {{ translated_title }} + {{ price_diff }}
                  </div>
                {% endif %}
              {% endfor %}
            {% comment %} {% endif %} {% endcomment %}

            {% render 'vin-decoder' %}
          </div>
        </div>
      {% endif %}
  </div>


    
  <!-- For the painted stock disclaimer -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      if('{{ any_available_options }}' === 'true') {
        const paintedStockKey = document.querySelector('.painted-stock-key');
        if (paintedStockKey) {
          paintedStockKey.style.display = 'block';
        }
      }
    });
  </script>
