<style>

    body.no-scroll-vin-verification {
        width: 100%;
        height: 100%;
        overflow: hidden !important;
      }

    .vin-verification-popup-dark-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 3000;
        animation: fade-in 0.5s;
    }
    .vin-verification-popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5000;
        overflow-y: auto;
        font-family: 'Lato', sans-serif;
      }
      .vin-verification-popup-modal {
        position: relative;
        width: 60%;
        max-width: 800px;
        {% comment %} min-height: 456px; {% endcomment %}
        background-color: white;
        margin: 5% auto;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        animation: drop-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 9999;
        border-radius: 8px;
      }

      .vin-verification-popup-wrapper {
        padding: 25px 25px 30px 30px;
      }
      .vin-verification-popup-wrapper img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .vin-verification-popup-wrapper h1 {
        font-size: 32px;
        margin-bottom: 5px;
        margin-top: 0;
        text-align: left;
        color: #373737;
      }
      .vin-verification-popup-wrapper h2 {
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 24px;
        text-align: left;
        color: #4b4b4b;
      }
      .vin-verification-popup-wrapper h4, h5 {
        font-size: 18px;
        font-weight: 700;
        margin: 8px 0;
        text-align: left;
        color: #4b4b4b;
        line-height: 24px;
      }

      .vin-verification-popup-wrapper ul {
        font-size: 16px;
        padding-left: 18px;
        color: #4b4b4b;
        font-weight: 400;
        margin-top: 0;
        line-height: 20px;
      }

    .vin-verification-close-btn-wrapper {
        display: flex;
        justify-content: end;
        width: 100%;
    }

      .vin-verification-close-btn {
        font-size: 32px;
        height: 32px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
        z-index: 1001;
        display: flex;
        align-items: start;
        justify-content: end;
      }
    .vin-guarantee-container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        width: 100%;
    }

    .fitment-guarantee {
        font-size: 1.2rem;
        font-weight: 800;
        color: #333;
        margin-bottom: 3px;
        display: flex;
        justify-content: start;
    }
    .vin-verification-checkbox-group {
        display: flex;
        flex-direction: row;
        gap: 20px; /* space between Yes and No */
        align-items: center;
        font-weight: 600;
        margin-top: 5px;
    }

    .checkbox-option {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        color: #444;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .checkbox-option:has(input:disabled) {
        color: #ccc;
        opacity: 0.7;
        cursor: not-allowed;
    }
    .checkbox-option input[type="radio"]:disabled {
        accent-color: #ccc;
        cursor: not-allowed;
    }

    #vin-textbox-for-verification {
        width: 100%;
        {% comment %} margin-top: 10px; {% endcomment %}
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 45px;
    }

    #vin-textbox-for-verification-wrapper {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
    }
    
    #vin-textbox-for-verification-wrapper.show {
        max-height: 100px; /* adjust based on content height */
        opacity: 1;
        margin-top: 10px;
    }

    #vin-verification-button {
        width:100%;
        color: #3b3b3b;
        background-color: #f3f3f3;
        border: none;
        font-size: 18px;
        padding: 10px 12px;
        {% comment %} margin: 20px 0; {% endcomment %}
        display: block;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        border-radius: 6px;
        font-family: 'Lato', sans-serif;
        margin-top: 10px;
      }
      #vin-verification-button p {
        margin: 0;
      }
      #vin-verification-button:hover {
        background-color: #e5e5e5;
      }
      #vin-verification-button:active {
        background-color: #f3f3f3;
      }
      #vin-verification-button:disabled {
        color: #ccc;
        cursor: no-drop;
        background-color: #f0f0f0;
        opacity: 0.6;
      }
      .vin-verification-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
      }
      .button_svg_container {
        display: flex;
        justify-content: end;
      }
    
</style>

<div class="vin-guarantee-container">
    <label class="fitment-guarantee">{{ 'fitment_verification.label' | t }}</label>

    <div class="vin-verification-checkbox-group">
        <label class="checkbox-option">
            <input 
                type="radio" 
                name="fitment_guarantee" 
                value="yes" 
                id="fitment-yes"
                disabled
            >
            {{ 'fitment_verification.yes' | t }}&nbsp;<span id="fitment-price-label"></span>
        </label>
    
        <label class="checkbox-option">
            <input
                id="fitment-no"
                type="radio" 
                name="fitment_guarantee" 
                value="no"
                disabled
            >
            {{ 'fitment_verification.no' | t }}
        </label>
    </div>  
    <div id="vin-textbox-for-verification-wrapper">
        <input
            type="text"
            id="vin-textbox-for-verification"
            placeholder="Enter your VIN"
            maxlength="17"
            value="{{ vinValue | default: "" }}"
        >
    </div>
    <button id="vin-verification-button" type="button" class="btn" disabled>
        <div class="vin-verification-wrapper">
            <p id="vin-verification-button-text">
                <b>{{ 'fitment_verification.button_heading' | t}}</b>
                <br/>
                {{ 'fitment_verification.button_description' | t}}       
            </p>
            <div class="button_svg_container">
                <svg class="button_svg" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="14px" width="14px" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path></svg>
            </div>
        </div>
    </button>
    <div class="vin-verification-popup-dark-overlay"></div>
    <div class="vin-verification-popup-container">
        <div class="vin-verification-popup-modal">
            <div class="vin-verification-close-btn-wrapper">
                <button class="vin-verification-close-btn" role="button" type="button">&times;</button>
            </div>
            <div class="vin-verification-popup-wrapper">
                <h1>{{ 'fitment_verification.modal_heading' | t }}</h1>
                {% comment %} <h2>{{ 'fitment_verification.modal_subheading' | t }}</h2> {% endcomment %}
                <div id="paint-code-instructions">
                    <h4>{{ 'fitment_verification.first_message' | t }}</h4>
                    <ul>
                        <li>{{ 'fitment_verification.point_1' | t }}</li>
                        <li>{{ 'fitment_verification.point_2' | t }}</li>
                        <li>{{ 'fitment_verification.point_3' | t }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>


<script>
    //41104835379285
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form[action^="/cart/add"]');
            const fitmentYes = document.getElementById('fitment-yes');
            const addToCartButton = document.getElementById('add-to-cart');
            const addToCartForUnpainted = document.getElementById('add-to-cart-for-unpainted');
            const vinInputWrapper = document.getElementById('vin-textbox-for-verification-wrapper');
            const vinInput = document.getElementById('vin-textbox-for-verification');
            const vinVerificationService = 'vin-verification-service';
            const fitmentVariantId = '41104835379285';
            let price = 0;
            let yesRadioWasLastSelected = null;
            const productSku = '{{ product.variants.first.sku }}';

            //For sanity: Establishes one cart variable for multiple different add to cart buttons
            let currentAddToCartBtn;
            if(addToCartButton) {
              currentAddToCartBtn = addToCartButton;
            } else if(addToCartForUnpainted) {
              currentAddToCartBtn = addToCartForUnpainted;
            }   
            

            // Used to fetch the price and then add it to the price-display to show updated pricing
            fetch(`/products/${vinVerificationService}.js`)
                .then(res => res.json())
                .then(product => {
                    const fitmentVariant = product.variants.find(variant => variant.id === Number(fitmentVariantId));
                    if (fitmentVariant) {
                        price = (fitmentVariant.price / 100); // convert cents to dollars
                        document.getElementById('fitment-price-label').textContent = `+$${price.toFixed(2)}`;
                    } else {
                        console.warn('Fitment variant not found in product data');
                    }
                })
                .catch(err => {
                    console.error('Error fetching fitment product data:', err);
                });


            // Show/hide VIN input based on radio selection
            const radios = document.querySelectorAll('input[name="fitment_guarantee"]');
            radios.forEach(radio => {
                radio.addEventListener('change', function () {
                    const priceDisplayElement = document.getElementById('price-display');
                    const originalPriceText = priceDisplayElement.textContent;
                    const originalPriceValue = parseFloat(originalPriceText.replace(/[^0-9.]/g, ''));

                    if (fitmentYes.checked) {
                        vinInputWrapper.classList.add('show');
                        let newTotal;
                
                        // Displays the updated price for adding on this feature
                        if(yesRadioWasLastSelected === null || yesRadioWasLastSelected === false) {
                            newTotal = (originalPriceValue + price).toFixed(2);
                        } else {
                            newTotal = (originalPriceValue).toFixed(2);
                        }
                        console.log('wool newTotal', newTotal);
                        console.log('wool originalPriceValue: ', originalPriceValue);
                        console.log('wool price: ', price);
                        priceDisplayElement.textContent = `$${newTotal}`;
                        yesRadioWasLastSelected = true;
                        currentAddToCartBtn.disabled = true;
                    } else {
                        console.log('wool clearing radio');
                        vinInputWrapper.classList.remove('show');
                        vinInput.value = '';
                        let newTotal;
                        // Displays the updated price for adding on this feature
                        if(yesRadioWasLastSelected === true) {
                            newTotal = (originalPriceValue - price).toFixed(2);
                        } else {
                            newTotal = (originalPriceValue).toFixed(2);
                        }
                        // Reset price to original
                        priceDisplayElement.textContent = newTotal;
                        yesRadioWasLastSelected = false;
                        currentAddToCartBtn.disabled = false;
                    }
                });                
            });
    
            if (form && fitmentYes) {
                form.addEventListener('submit', function (event) {
                    // if "Yes" is checked, add fitment guarantee product first
                    if (fitmentYes.checked) {
                        event.preventDefault(); // stop original submission
    
                        const mainFormData = new FormData(form);
    
                        // Add the fitment guarantee product first
                        fetch('/cart/add.js', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                id: fitmentVariantId,
                                quantity: 1,
                                properties: {
                                    "VIN": document.getElementById('vin-textbox-for-verification').value.toUpperCase(),
                                    "SKU": productSku,
                                }
                            })
                        }).then(response => {
                            if (response.ok) {
                                // Now submit the original product form
                                form.submit();
                            } else {
                                console.error('Failed to add fitment guarantee');
                            }
                        }).catch(err => {
                            console.error('Error:', err);
                        });
                    }
                });
            }

            document.getElementById('vin-textbox-for-verification').addEventListener('input', function(event) {
                const originalValue = event.target.value;
                let vinInput = originalValue.toUpperCase();
                const filteredValue = vinInput.replace(/[IOQ\s:;()!@#$%^?'"&*\-_=+.`~<>{}\[\]|,\/\\]/gi, '');
            
                // Set sanitized value to input box
                event.target.value = filteredValue;
                vinInput = filteredValue;
            
            
                if (vinInput !== filteredValue) {
                    alert("Please enter valid characters. I, O, Q and special characters are not allowed in VINs");
                } else if (typeof warning !== 'undefined') {
                    warning.style.display = 'none';
                }
            
                // Check for VIN length
                if (vinInput.length === 17) {
                    currentAddToCartBtn.disabled = false;
                } else {
                    currentAddToCartBtn.disabled = true;
                }
            });


            let vinVerificationScrollPosition = 0;

            //Open Modal
            document.querySelector("#vin-verification-button").onclick = async function() {
                vinVerificationScrollPosition = window.scrollY || document.documentElement.scrollTop;

                hideShopifyChat();
                showOverlay();

                try {
                    // Lock scroll and show the modal
                    document.body.classList.add('no-scroll-vin-verification');
                    showModal();
                } catch (error) {
                    console.error('Error fetching page content how-to-find-paint-code:', error);
                }
            }

            function showOverlay() {
                document.querySelector(".vin-verification-popup-dark-overlay").style.display = "block";
            }
            function showModal () {
                document.querySelector(".vin-verification-popup-container").style.display = "block";
            }
            function hideOverlay() {
                document.querySelector(".vin-verification-popup-dark-overlay").style.display = "none";
            }
            function hideModal() {
                document.body.classList.remove('no-scroll-vin-verification');
                window.scrollTo(0, vinVerificationScrollPosition);

                showShopifyChat();
                hideOverlay();

                const container = document.querySelector('.vin-verification-popup-container');
                const modal = document.querySelector('.vin-verification-popup-modal');
                const onAnimationEnd = function() {
                  modal.style.animation = '';
                  container.style.display = 'none';
                  modal.removeEventListener('animationend', onAnimationEnd);
                };
              
                modal.style.animation = "drop-out 0.3s forwards";
                modal.addEventListener('animationend', onAnimationEnd);
            }

            // Close Modal (exit button)
            document.querySelector(".vin-verification-close-btn").onclick = async function() {
                hideModal();
            };


            // Close Modal (click outside)
            window.onclick = function(event) {
                if (event.target === document.querySelector('.vin-verification-popup-container')) {
                    hideModal();
                }
              };
            // Close Modal (ESC key)
            document.addEventListener("keydown", (event) => {
                event.stopPropagation();
                const modal = document.querySelector('.vin-verification-popup-container');
                const isModalOpen = modal && modal.style.display === 'block';
                if (event.key === "Escape" && isModalOpen) {
                    hideModal();
                }
            });
        });
</script>
