<style>
    html, body {
      height: 100% !important;
      width: 100% !important;
    }

    body.no-scroll {
      overflow: hidden !important;
  }

  .model-fitment-easysearch-container {
    width: 100%;
  }

  .verify-fitment-title {
    font-size: 1.2rem;
    font-weight: 800;
    color: #333;
  }

    .featured-image {
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 500px;
      height: auto;
    }

    #select-vin-variant {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        width: 100%;
        border-radius: 6px;
    }
    #variant-swatch-image{
      text-align:center;
      margin: 10px 0 0 0;
    }
  
    #select-vin-variant:hover {
        background-color: #0056b3;
        {% comment %} box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); {% endcomment %}
        transform: translateY(-2px);
    }
  
    #select-vin-variant:active {
        background-color: #004494;
        transform: translateY(0);
    }

    #select-vin-variant:disabled {
        background-color: #f0f0f0;
        color: #ccc;
        pointer-events: none;
        opacity: 0.6;
    }

  
    #color-mismatch-popup {
      position: absolute;
      color: #fff;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
      z-index: 99999;
      font-family: Arial, sans-serif;
    }
    
    .customize-color-mismatch-popup-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 99998;
    }
    
    .color-mismatch-container {
      background-color: #fff;
      color: #333;
      max-width: 280px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      padding: 20px;
    }

    #mismatch-message {
      margin: 5px 0 20px;
      font-size: 0.95em;
      line-height: 1.4;
    }
    
    #mismatch-buttons-container {
      display: flex;
      justify-content: space-between;
    }
    
    #mismatch-buttons-container button {
      margin: 0 5px;
      padding: 10px;
      font-size: 0.9em;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.2s;
    }
    

    #continue-btn {
      width: 75px;
      background-color: #e0e0e0;
      color: #333;
    }

    #continue-btn:hover {
      background-color: #d5d5d5;
    }

        
    #cancel-btn {
      background-color: #007bff;
      color: #fff;
    }

    #cancel-btn:hover {
      background-color: #0056b3;
    }
    
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Paint swatch image styling */
  #paint-swatch-image {
    max-width: 500px;
    width: 95%;
    border: 1.5px solid #fff;
    border-radius: 0.375rem;
    position: relative;
    display: none;
  }
  
  /* Close button for how to find your paint code */
  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close-button:hover {
    color: red;
  }
    #vin-textbox {
      display: none;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 100%;
    }
  
    #vin-textbox.warning {
        border-color: #ff000f;
        background-color: #ffe6e6;
    }
  
    #vin-popup {
      margin-top: 15px;
      padding: 10px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  
    #vin-warning {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    #vin-textbox-container {
        width: 100%;
    }

    #vin-textbox-container input {
        margin: 0;
    }
  
    #add-to-cart {
      background-color: #0C1A94;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
      transition: background-color 0.3s, transform 0.2s;
      width: 100%;
      border-radius: 9999px;
    }
  
    #add-to-cart-for-unpainted {
      background-color: #0C1A94;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
      padding: 10px;
      transition: background-color 0.3s, transform 0.2s;
      width: 100%;
      border-radius: 9999px;
    }
  
    #add-to-cart:disabled {
        background-color: #f0f0f0;
        color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid;
    }
  
    #add-to-cart-for-unpainted:disabled {
      background-color: #f0f0f0;
      color: #ccc;
      cursor: not-allowed;
      pointer-events: none;
      border: 1px solid;
    }
  
    #add-to-cart:hover {
      background-color: #063175;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
    }
  
    #add-to-cart:active {
      background-color: #051d59;
      transform: translateY(0);
    }
  
    /* Full width form */
    #product-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
    }

    #product-form-swatches {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
    }

    #product-form-unpainted {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
    }

    #variant-selector:disabled {
      color: #ddd;
    }
  
    /* Variant selector styles */
    #variant-selector {
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        padding: 10px;
        width: 100%;
        min-height: 45px;
        cursor: pointer;
        color: #000;
        {% comment %} margin-left: 10px; {% endcomment %}
    }
  
    .unpainted-fitment-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  
    .unpainted-add-to-cart-btn-container {
      width: 100%;
      display: flex;
    }

    .vin-options-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .paint-or-vin p{
      width: fit-content;
      margin: 3px 0;
    }
  
    .customize-popup-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9947483647;
  }
  
    /* Popup page styles */
    .popup-page {
        display: none;
    }
  
    .popup-page.active {
        display: block;
    }
  }
  
    /* Other fitment results */
    .easysearch-fitment-other-results {
        display: none;
    }
  
    .product-form-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 20px 0;
      width: 95%;
    }
  
    
    .variant-label {
      font-size: 1.2rem;
      font-weight: 800;
      margin-bottom: 3px;
      color: #333;
    }
    
    .variant-dropdown {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      color: #333;
      appearance: none;
      cursor: pointer;
    }
    
    .variant-dropdown:focus {
      border-color: #007bff;
      outline: none;
    }
    
    .variant-option {
      font-size: 14px;
    }
    
    .variant-dropdown option {
      padding: 8px;
    }

    #variant-selector-container {
      margin-top: 10px;
      width: 100%;
    }

    .how-to-find-paint-code-wrapper {
      font-size: 14px;
    }
  
    .color-preview-container-for-customizations {
        width: 100%;
    }
  
  #model-fitmentfail-button-container {
    padding: 15px 15px 0 15px;
    width: inherit;
  }

  #model-fitmentfail-button-container-oos {
    width: inherit;
  }
  #fitment-fail-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #e61b24;
    color: #fff;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    margin-bottom: 10px;
    }

  .conditional-small-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    z-index: 50;
    width: 100vw;
    height: fit-content;
  }
  
  @media (min-width: 720px) {
  
    .conditional-small-screen {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row;
      bottom: 0;
      z-index: 50;
      background-color: #fff;
      width: 100%;
      height: fit-content;
      border-top: none;
      border-bottom: none;
    }
  }
  
    #add-to-cart-page {
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 50vw;
      height: 100%;
    }
  
  #fitment-verification-page-for-unpainted {
    width: 100%;
  }
  @media (max-width: 1440px) {
    #fitment-verification-page {
      padding: 0 20px;
      width: 50vw;
    }
    #add-to-cart-page {
      padding: 0;
      flex-grow: 1;
      width: 50vw;
      height: 100%;
    }
  }
  
  @media (max-width: 1260px) {
    #fitment-verification-page {
      padding: 0 20px;
      width: 50vw;
    }
    #add-to-cart-page {
      padding: 0;
      flex-grow: 1;
      width: 50vw;
      height: 100%;
    } 
  }
  
  @media (max-width: 1024px) {
    #fitment-verification-page {
      padding: 0 20px;
      width: 100vw;
    }
    #add-to-cart-page {
      padding: 0;
      flex-grow: 1;
      height: 100%;
      border-left: none;
    }
  }
  
  @media (max-width: 768px) {
    #fitment-verification-page {
      padding: 0 20px;
      width: 100vw;
    }
    #add-to-cart-page {
      padding: 10px 20px 20px 20px;
      flex-grow: 1;
      width: 100vw;
      height: 100%;
      border-left: none;
      /* overflow-y: hidden; */
    }
  }
  
  @media (max-width: 480px) {
    #fitment-verification-page {
      padding: 0 20px;
      width: 100vw;
    }
    #add-to-cart-page {
      padding: 10px 20px 20px 20px;
      flex-grow: 1;
      width: 100vw;
      height: 100%;
      border-left: none;
      /* overflow-y: hidden; */
    }
  }
  
  .add-to-cart-button-wrapper {
      width: 100%;
      display: flex;
      justify-content: end;
    }
  
  @media (max-width: 720px) {
    .add-to-cart-button-wrapper {
      min-width: 160px;
      display: flex;
      justify-content: end;
    }
  }
      .loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
            z-index: 9998; /* Ensure it's behind the dots but covers the page */
        }
  
        .loading-dots {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
  
        .loading-dots div {
            display: inline-block;
            width: 12px; /* Slightly larger */
            height: 12px;
            margin: 5px;
            border-radius: 50%;
            background-color: #fff; /* White dots for better visibility */
            animation: loadingDots 1.2s infinite ease-in-out both;
        }
  
        .loading-dots div:nth-child(1) {
            animation-delay: -0.24s;
        }
  
        .loading-dots div:nth-child(2) {
            animation-delay: -0.12s;
        }
  
        .loading-dots div:nth-child(3) {
            animation-delay: 0;
        }
  
        @keyframes loadingDots {
            0%, 80%, 100% {
                transform: scale(0);
            }
            40% {
                transform: scale(1);
            }
        }

        .divider-small-screen {
            height: 1px;
            width: 98%;
            background-color: #ddd;
            margin: 5px 0 8px 0;
            opacity: 0.8;
            position: relative;
        }

        .divider-large-screen {
          height: 1px;
          width: 104%;
          left: -2%;
          background-color: #ddd;
          margin: 5px 0 8px 0;
          opacity: 0.8;
          position: relative;
      }

      .option-title-vin {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 3px;
        color: #333;
      }

      #vin-textbox-container-for-oem {
        width: 100%;
      }

      #vin-textbox-container-for-oem input {
          margin: 0;
      }

      #vin-textbox-for-oem:disabled {
        background-color: #f0f0f0;
        color: #ccc;
        pointer-events: none;
        opacity: 0.6;
      }

      #vin-textbox-for-oem {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      #vin-warning-for-oem {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
  </style>
  {% comment %} {% render 'cart-swatch-checker' %} {% endcomment %}
  {% comment %} {% render 'black-friday-button' %} {% endcomment %}
  {% if product.available == true or product.variants.first.inventory_policy == 'continue' %}
    <!-- Modal trigger button -->
      {% if product.title contains 'Swatch' %}
        <!-- Form for Swatches -->
          <form id="product-form-swatches" method="post" action="/cart/add">
            <div id="model-fitmentfail-button-container">
              <label class="verify-fitment-title" for="product-type-select">Verify Fitment</label>
                <div class="model-fitment-easysearch-container">
                    <div class="easysearch-embed-widget-fitment"></div>
                </div>
            </div>
            <!-- Variant Selector -->
            <select id="variant-selector" name="id">
              <option value="" selected disabled>Select Paint Option*</option>
              {% for variant in product.variants %}
                <option
                  value="{{ variant.id }}"
                  data-price="{{ variant.price }}"
                  data-paint-swatch-url="{{ variant.metafields.custom.variant_swatch_url }}"
                >
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>
            <div class="divider-small-screen"></div>
            {% comment %} <div class="price-container">
              <div id="price-display-small-screen">{{ product.price_min | money }}</div>
            </div>  {% endcomment %}
            <!-- Add to Cart Button -->
              <button type="submit" class="btn full-width bold-text" id="add-to-cart" style="margin: 10px 0;" disabled>Add to Cart</button>
          </form>

    <!-- Form for either customizations or add to cart on product page -->
      {% comment %} <form> {% endcomment %}
      {% elsif product.variants.size > 1 %}
          {% comment %} <div class="price-container-large-screen">
              <div id="price-display">{{ product.price_min | money }}</div>
          </div>  {% endcomment %}
          <div id="model-fitmentfail-button-container">
            <label class="verify-fitment-title" for="product-type-select">Verify Fitment</label>
              <div class="model-fitment-easysearch-container">
                  <div class="easysearch-embed-widget-fitment"></div>
              </div>
          </div>

          <form id="product-form" method="post" action="/cart/add" data-weight-in-unit="{{ product.variants.first.weight_in_unit }}">
              <div class="product-form-wrapper">
                  {% assign meta_fields = 0 %}
                  {% if product.metafields.custom.oem_product != blank %}
                      {% assign meta_fields = meta_fields | plus: 1 %}
                  {% endif %}

                  {% if product.metafields.custom.capa_product != blank %}
                      {% assign meta_fields = meta_fields | plus: 1 %}
                  {% endif %}

                  {% if product.metafields.custom.aftermarket_product != blank %}
                      {% assign meta_fields = meta_fields | plus: 1 %}
                  {% endif %}

                  {% if meta_fields > 1 %}
                      {% render 'CAPA-OEM-options' %}
                  {% elsif product.variants.size > 1 %}
                      <!-- Variant Dropdown -->
                      <div id="variant-selector-container">
                        <div class="divider-large-screen"></div>
                        <div class="how-to-find-paint-code-wrapper">
                          <div class="find-paint-option-link-container">
                            <a href="#" id="open-paint-code-modal">How To Find Your Paint Code</a>
                          </div>
                        </div>
                      <label for="variant-selector" class="variant-label">Paint Option</label>
                      <select id="variant-selector" name="id" class="variant-dropdown">
                          <option value="" selected disabled>Paint Option</option>
                          {% for variant in product.variants %}
                          {% assign price_diff = variant.price | minus: product.price_min | money %}  
                          {% if price_diff == 0 %}
                              {{ '' }}
                          {% else %}
                              {{ '+' }}{{ price_diff | money | remove: '.00' }}
                          {% endif %}
                          <option 
                              value="{{ variant.id }}" 
                              class="variant-option"
                              data-price="{{ variant.price }}">
                              {{ variant.title }} + {{ price_diff }}
                          </option>
                          {% endfor %}
                      </select>
                      </div>
                  {% endif %}

                  <!-- Select VIN Option -->
                  {%- if product.variants[1].sku contains ".VIN" -%}
                    <div class="vin-options-container">
                      <div class="paint-or-vin">
                          <p>Or</p>
                      </div>
                      <!-- Text box for VIN input -->
                      <div id="vin-textbox-container" style="display: none;">
                        <input
                            type="text"
                            id="vin-textbox"
                            name="properties[VIN]"
                            placeholder="Enter your VIN"
                            maxlength="17"
                        >
                        <p id="vin-warning" style="color: #ff000f; display: none;">I, O, & Q are never used in VINs</p>
                      </div>

                      <!-- Button to select Match Paint by VIN variant -->
                      <button id="select-vin-variant" class="btn full-width bold-text" type="button" disabled>Use VIN Instead</button> 
                    </div> 
                  {% endif %}

                  <div class="color-preview-container-for-customizations">
                      {% render 'color-preview-box' %}
                  </div>

                    <!-- How to find your paint code image-->
                    <div id="paint-swatch-modal" class="modal-overlay" style="display: none;">
                        <div id="close-paint-swatch" class="close-button" role="button">&times;</div>
                        <img src="{{ product.metafields.custom.manufacturer_paint_match }}" alt="Paint Swatch" id="paint-swatch-image" width="{{ image.width }}" height="{{ image.height }}">
                    </div>  
                  </div>
                  <div class="divider-small-screen"></div>


                  <!-- Fixed Add to cart and price container to bottom of mobile -->
                  <div class="conditional-small-screen">
                      {% comment %} <div class="price-container">
                          <div id="price-display-small-screen">{{ product.price_min | money }}</div>
                      </div>          {% endcomment %}
                      <!-- Add to Cart Button for correct fitment and selected paint option-->
                      <div class="add-to-cart-button-wrapper">
                          <button type="submit" class="btn full-width bold-text" id="add-to-cart" disabled>Add to Cart</button>
                      </div>
                  </div>
              </form>

              {% render 'paint-match-percentage-popup' %}
            <!-- Color mismatch popup -->
              <div id="color-mismatch-popup" style="display: none;">
                  <div class="customize-color-mismatch-popup-overlay">
                    <div class="color-mismatch-container">
                      <p id="mismatch-message">The color you selected is different from items already in your cart. Do you want to continue with this color?</p>
                      <div id="mismatch-buttons-container">
                        <button id="continue-btn">No</button>
                        <button id="cancel-btn">Yes</button>
                      </div>
                    </div>
                  </div>
                </div>
      {% else %}
        <!-- Form for Unpainted Items -->
          <form id="product-form" method="post" action="/cart/add" data-weight-in-unit="{{ product.variants.first.weight_in_unit}}">
            <div class="unpainted-fitment-container">
              <div id="fitment-verification-page-for-unpainted" class="popup-page active">
                <div id="model-fitmentfail-button-container">
                  <label class="verify-fitment-title" for="product-type-select">Verify Fitment</label>
                  <div class="model-fitment-easysearch-container">
                    <div class="easysearch-embed-widget-fitment"></div>
                  </div>
                </div>
              </div>
              {% if product.title contains 'OEM' %}
                <div class="oem-vin-container" style="display: block; width: 100%; padding-top: 5px;">
                  <label class="option-title-vin" for="product-type-select">VIN</label>
                  <div id="vin-textbox-container-for-oem">
                    <input
                        type="text"
                        id="vin-textbox-for-oem"
                        name="properties[VIN]"
                        placeholder="Enter your VIN"
                        maxlength="17"
                    >
                    <p id="vin-warning-for-oem" style="color: #ff000f; display: none;">I, O, & Q are never used in VINs</p>
                  </div>
                </div>
              {% endif %}
              <div class="divider-small-screen"></div>
              <div class="unpainted-add-to-cart-btn-container">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <button type="submit" class="btn full-width bold-text" id="add-to-cart-for-unpainted" disabled>Add to Cart</button>
              </div>
            </div>
          </form>
      {% endif %}
    <!-- freight shipping popup -->
      {% render 'freight-shipping-popup' %}

<!-- Products that are not available -->
    {% else %}
      <div id="model-fitmentfail-button-container-oos">
        <label class="verify-fitment-title" for="product-type-select">Verify Fitment</label>
        <div class="model-fitment-easysearch-container">
          <div class="easysearch-embed-widget-fitment"></div>
        </div>
      </div>
  <form id="product-form" method="post" action="/cart/add" data-weight-in-unit="{{ product.variants.first.weight_in_unit }}">
    <div class="product-form-wrapper">
      {% assign meta_fields = 0 %}
      {% if product.metafields.custom.oem_product != blank %}
          {% assign meta_fields = meta_fields | plus: 1 %}
      {% endif %}
    
      {% if product.metafields.custom.capa_product != blank %}
          {% assign meta_fields = meta_fields | plus: 1 %}
      {% endif %}
    
      {% if product.metafields.custom.aftermarket_product != blank %}
          {% assign meta_fields = meta_fields | plus: 1 %}
      {% endif %}
    
      {% if meta_fields > 1 %}
        {% render 'CAPA-OEM-options' %}
      {% endif %}
    

    {%- if product.variants[1].sku contains ".VIN" -%}
      <div class="vin-options-container">
        <div class="paint-or-vin">
            <p>Or</p>
        </div>
        <!-- Text box for VIN input -->
        <div id="vin-textbox-container" style="display: none;">
          <input
              type="text"
              id="vin-textbox"
              name="properties[VIN]"
              placeholder="Enter your VIN"
              maxlength="17"
          >
          <p id="vin-warning" style="color: #ff000f; display: none;">I, O, & Q are never used in VINs</p>
        </div>
        <!-- Button to select Match Paint by VIN variant -->
        <button id="select-vin-variant" class="btn full-width bold-text" type="button" disabled>Use VIN Instead</button>
      </div>  
    {% endif %}

    <div class="color-preview-container-for-customizations">
        {% render 'color-preview-box' %}
    </div>

      <!-- How to find your paint code image-->
      <div id="paint-swatch-modal" class="modal-overlay" style="display: none;">
          <div id="close-paint-swatch" class="close-button" role="button">&times;</div>
          <img src="{{ product.metafields.custom.manufacturer_paint_match }}" alt="Paint Swatch" id="paint-swatch-image" width="{{ image.width }}" height="{{ image.height }}">
      </div>  
    </div>
    <div class="divider-small-screen"></div>


    <!-- Fixed Add to cart and price container to bottom of mobile -->
    <div class="conditional-small-screen">
        <div class="add-to-cart-button-wrapper">
            <button type="submit" class="btn full-width bold-text" id="add-to-cart" disabled>Add to Cart</button>
        </div>
    </div>
  {% comment %} </div> {% endcomment %}
  </form>
{% endif %}
{% comment %} {% render 'black-friday-table' %} {% endcomment %}
  


  <script>
        let vinSuccess = false;
        let fitmentSuccess = false;
        let paintedItem = false;
  
        if(parseInt('{{ product.variants.size }}') > 1) {
          paintedItem = true;
        } else {
          paintedItem = false;
        }
  
  
        // Renders the Add to Cart button on product page for non customizable products (e.g. swatch)
        document.addEventListener('DOMContentLoaded', function () {
        const variantSelector = document.getElementById('variant-selector');
        const addToCartButton = document.getElementById('add-to-cart');
        
        // let vinSuccess = false;
    
        variantSelector.addEventListener('change', function () {
            if (variantSelector.value) {
            addToCartButton.style.display = 'block';
            addToCartButton.disabled = false;
            } else {
            addToCartButton.style.display = 'none';
            addToCartButton.disabled = true;
            }
        });
        });
        
  
        // Customization portion
          document.addEventListener('DOMContentLoaded', () => {
            const fitmentPage = document.getElementById('fitment-verification-page');
            const fitmentFailPage = document.getElementById('model-fitmentfail-button-container');
            const addToCartPage = document.getElementById('add-to-cart-page');
            const fitmentFailButton = document.createElement('button');
            const variantSelector = document.getElementById('variant-selector');
            const form = document.getElementById('product-form');
            const addToCartButton = document.getElementById('add-to-cart');
            const vinTextBoxOEM = document.getElementById('vin-textbox-for-oem');
            const vinTextBox = document.getElementById('vin-textbox');

            //Used for How to find Paint Code
            const paintSwatchImage = document.getElementById('paint-swatch-image');
        
        
        
            fitmentFailButton.id = 'fitment-fail-button';
            fitmentFailButton.textContent = 'Parts That Fit Your Vehicle';
            fitmentFailButton.onclick = () => {
                const fitmentLink = document.querySelector('.easysearch-fitment-link');
                if (fitmentLink) {
                    window.location.href = fitmentLink.href; // Use the dynamic link from the fitment checker
                } else {
                    alert('No link available for parts that fit your vehicle.');
                }
            };
        
            let fitmentSuccessfromStorage;
        
        
            const addToCartButtonForUnpaintedItems = document.getElementById("add-to-cart-for-unpainted");
        
            if(addToCartButtonForUnpaintedItems !== null) {
                addToCartButtonForUnpaintedItems.addEventListener("click", function () {
                    form.action = `/cart/add?id=${'{{ product.variants[0].id }}'}`;
                    {% comment %} form.submit(); {% endcomment %}
            });
            }
        
        
            function checkFitmentStatusOfUnpaintedItems() {
                const easyFitmentFail = document.querySelector('.easysearch-fitment-widget .easysearch-fitment-fail');
                const easyFitmentSuccess = document.querySelector('.easysearch-fitment-widget .easysearch-fitment-icon-success');
                const fitmentLink = document.querySelector('.easysearch-fitment-link');
                const fitmentHeader = document.querySelector('.easysearch-fitment-header');
        
        
                let failChecker = 0;
        
        
                if(easyFitmentFail !== null) {
                failChecker = easyFitmentFail.offsetWidth;
                }
        
                if(fitmentHeader.offsetWidth === 0) {
                if (easyFitmentFail && fitmentLink && failChecker !== 0) {
                    fitmentFailButton.style.display = 'block';
                    addToCartButtonForUnpaintedItems.disabled = true;
                    if (!document.getElementById('fitment-fail-button')) {
                    fitmentFailPage.appendChild(fitmentFailButton);
                    }
                    fitmentFailButton.style.display = 'block';
                    fitmentSuccess = false;
                    if(vinTextBoxOEM) {
                      vinTextBoxOEM.disabled = true;
                    }
                } else if (easyFitmentSuccess && fitmentLink && failChecker === 0){
                    fitmentFailButton.style.display = 'none';
                    //If vinTextBoxOEM means on unpainted product that is OEM
                    if(vinTextBoxOEM) {
                      vinTextBoxOEM.disabled = false;
                    }
                    //If vinTextBox means customer is on painted product page
                    if(vinTextBox) {
                      addToCartButtonForUnpaintedItems.style.display = 'block';
                      addToCartButtonForUnpaintedItems.disabled = false;
                    }
                    //No vin textbox and no oem box means on unpainted product page that is not OEM
                    if(!vinTextBox && !vinTextBoxOEM) {
                      addToCartButtonForUnpaintedItems.style.display = 'block';
                      addToCartButtonForUnpaintedItems.disabled = false;
                    }
                    let event = new Event('eventFitmentSuccess');
                    easyFitmentSuccess.dispatchEvent(event);
                    fitmentSuccess = true;
                } else {
                    fitmentFailButton.style.display = 'none';
                    addToCartButtonForUnpaintedItems.style.display = 'block';
                    fitmentSuccess = false;
                }
                } else {
                  fitmentFailButton.style.display = 'none';
                  addToCartButtonForUnpaintedItems.style.display = 'block';
                  addToCartButtonForUnpaintedItems.disabled = true
                  if(vinTextBoxOEM) {
                    vinTextBoxOEM.disabled = true;
                  }
                }
                handleFitmentSuccessChange();
            }
        
        
        
            // Function to check fitment status based on the app logic
            function checkFitmentStatus() {
                const easyFitmentFail = document.querySelector('.easysearch-fitment-widget .easysearch-fitment-fail');
                const easyFitmentSuccess = document.querySelector('.easysearch-fitment-widget .easysearch-fitment-icon-success');
                const fitmentLink = document.querySelector('.easysearch-fitment-link'); // Get the dynamic link
                const fitmentHeader = document.querySelector('.easysearch-fitment-header');
                const productTypeSelect = document.getElementById('product-type-select');
                const combinedVariantSelect = document.getElementById('variant-selector');
                const selectVinVariantButton = document.getElementById('select-vin-variant');
                const optionDropdowns = document.querySelector('.option-dropdowns');
                const verifyFitmentHeader = document.querySelector('.verify-fitment-title');
                const qualityHeader = document.querySelector('.option-title-quality');
                const vinHeader = document.querySelector('.option-title-vin');
                const oemVinContainer = document.querySelector('.oem-vin-container');
                const optionTitle = document.querySelector('.option-title');

                if(productTypeSelect && productTypeSelect.disabled === true) {
                  if(verifyFitmentHeader) {
                    verifyFitmentHeader.style.color = "#e61b24";
                  }
                } else {
                  if(verifyFitmentHeader) {
                    verifyFitmentHeader.style.color = "#333";
                  }
                }

                if(qualityHeader && oemVinContainer.style.display === "none") {
                  if(productTypeSelect && productTypeSelect.disabled === false && combinedVariantSelect && combinedVariantSelect.disabled === true) {
                    qualityHeader.style.color = "#e61b24";
                  } else if(productTypeSelect && productTypeSelect.disabled === false && !combinedVariantSelect) {
                    qualityHeader.style.color = "#e61b24";
                  } else {
                    qualityHeader.style.color = "#333";
                  }
                }

                if(vinHeader) {
                  if(oemVinContainer.style.display === "block" && combinedVariantSelect.disabled === true) {
                    addToCartButton.disabled = true;
                    qualityHeader.style.color = "#333";
                    vinHeader.style.color = "#e61b24";
                  }

                  if(oemVinContainer.style.display === "block" && combinedVariantSelect.disabled === false) {
                    vinHeader.style.color = "#333";
                  }
                }

                if(combinedVariantSelect && combinedVariantSelect.disabled === false) {
                  if(optionTitle) {
                    optionTitle.style.color = "#e61b24";
                  }
                } else {
                  if(optionTitle) {
                    optionTitle.style.color = "#333";
                  }
                }

                if(addToCartButton.disabled === false) {
                  if(optionTitle) {
                    optionTitle.style.color = "#333";
                  }
                }
        
                if(fitmentHeader.offsetWidth === 0) {
                    if (easyFitmentFail && fitmentLink) {
                        // Fitment failed, hide Continue button and show "Parts That Fit" button
                        fitmentFailButton.style.display = 'block';
                        if (!document.getElementById('fitment-fail-button')) {
                            fitmentFailPage.appendChild(fitmentFailButton); // Append the button if it doesn't exist
                        }
                        fitmentFailButton.style.display = 'block';
                        if(productTypeSelect) {
                          productTypeSelect.selectedIndex = 0;
                          productTypeSelect.disabled = true;
                        }
                        combinedVariantSelect.selectedIndex = 0;
                        combinedVariantSelect.disabled = true;
                        if(selectVinVariantButton) {
                          selectVinVariantButton.disabled = true;
                        }
                        fitmentSuccess = false;
                    } else if (easyFitmentSuccess && fitmentLink){
                        fitmentFailButton.style.display = 'none';
                        let event = new Event('eventFitmentSuccess');
                        easyFitmentSuccess.dispatchEvent(event);
                        if(productTypeSelect) {
                          productTypeSelect.disabled = false;
                        }

                        // This means if there is not a quality selection present
                        if(!optionDropdowns) {
                          combinedVariantSelect.disabled = false;

                          if(selectVinVariantButton !== null) {
                            selectVinVariantButton.disabled = false;
                          }

                        }
                        fitmentSuccess = true;
                    } else {
                        fitmentFailButton.style.display = 'none';
                        if(productTypeSelect) {
                          productTypeSelect.selectedIndex = 0;
                          productTypeSelect.disabled = true;
                        }
                        combinedVariantSelect.selectedIndex = 0;
                        combinedVariantSelect.disabled = true;
                        if(selectVinVariantButton) {
                          selectVinVariantButton.disabled = true;
                        }
                        fitmentSuccess = false;
                    }
                    handleFitmentSuccessChange();
                    checkBothConditions(); 
                } else {
                    fitmentFailButton.style.display = 'none';
                    addToCartButton.disabled = true;
                }        
            }
        
            // Polling function to continuously check fitment status every 500ms
            function pollFitmentStatus() {
                if(paintedItem) {
                checkFitmentStatus();
                } else {
                checkFitmentStatusOfUnpaintedItems();
                }
            }
            const fitmentCheckInterval = setInterval(pollFitmentStatus, 300);
        
            const variantSize = '{{ product.variants.size }}';
            const variantTitle = '{{ product.variants.first.title }}';
            const variantId = '{{ product.variants[0].id }}';
            
            function checkBothConditions() {
                const variantSelected = variantSelector.value !== ""; // Check if a variant is selected
                const selectedOptionText = variantSelector.options[variantSelector.selectedIndex].text;
                const selectedOptionCheckingForVin = selectedOptionText.includes("Match Paint by VIN");
                const oemVinContainer = document.querySelector('.oem-vin-container');
        
                if (parseInt(variantSize) === 1 && variantTitle === "Default Title") {
                    variantSelector.style.display = "none";
                }
        
                if (parseInt(variantSize) === 1 && variantTitle === "Default Title" && fitmentSuccess) {
                    form.action = `/cart/add?id=${variantId}`;
                    addToCartButton.style.display = 'block';
                    addToCartButton.disabled = false;
                } else {
                    if (variantSelected && !selectedOptionCheckingForVin && fitmentSuccess) {
                        form.action = `/cart/add?id=${variantSelector.value}`;
                        addToCartButton.style.display = 'block';
                        addToCartButton.disabled = false;
                    } else if(selectedOptionCheckingForVin && fitmentSuccess && vinSuccess) {
                    form.action = `/cart/add?id=${variantSelector.value}`;
                        addToCartButton.style.display = 'block';
                        addToCartButton.disabled = false;
                    } else if(selectedOptionCheckingForVin && fitmentSuccess && oemVinContainer.style.display === "block") {
                      form.action = `/cart/add?id=${variantSelector.value}`;
                          addToCartButton.style.display = 'block';
                          addToCartButton.disabled = false;
                    } else {
                      form.action = '/cart/add';
                      addToCartButton.style.display = 'block';
                    }
                }
            }
        
            // How to find your paint code section
                const paintSwatchModal = document.getElementById('paint-swatch-modal');
                let scrollPosition = 0;
            
                // Close the modal when the "X" button is clicked
                if(document.getElementById('close-paint-swatch')) {
                  document.getElementById('close-paint-swatch').onclick = function(event) {
                      paintSwatchModal.style.display = 'none';
                      document.body.classList.remove('no-scroll');
                      document.body.style.top = '';
                      window.scrollTo(0, scrollPosition);
                  }
                }
            
                // Close the modal when clicking outside the image
                window.onclick = function(event) {
                    if (event.target === paintSwatchModal) {
                    paintSwatchModal.style.display = 'none';
                    document.body.classList.remove('no-scroll');
                    document.body.style.top = '';
                    window.scrollTo(0, scrollPosition);
                    }
                }

                if(document.getElementById('open-paint-code-modal')) {
                  document.getElementById('open-paint-code-modal').onclick = function() {
                    if(paintSwatchImage) {
                      scrollPosition = window.scrollY;
                      paintSwatchImage.style.display = "block";
                      paintSwatchModal.style.display = 'flex';
                      document.body.classList.add('no-scroll');
                      document.body.style.top = `-${scrollPosition}px`;
                    }
                  }
                }
        
        
            variantSelector.addEventListener('change', function() {
                const variantId = this.value;
                if (variantId && fitmentSuccess) {
                    form.action = `/cart/add?id=${variantId}`;
                    addToCartButton.style.display = 'block';
                    addToCartButton.disabled = false;
                } else {
                    form.action = '/cart/add';
                    addToCartButton.disabled = true;
                }
            });
        
            function handleFitmentSuccessChange() {
                const variantId = this.value;
                if(addToCartButton) {
                  if (variantId && fitmentSuccess) {
                      form.action = `/cart/add?id=${variantId}`;
                      addToCartButton.style.display = 'block';
                      addToCartButton.disabled = false;
                  } else {
                      form.action = '/cart/add';
                      addToCartButton.disabled = true;
                  }
                } else {
                    form.action = '/cart/add';
                }
            }
        });
  
  
  
  
  
        // This is for the Use VIN Instead button
            document.addEventListener('DOMContentLoaded', () => {
                const variantSelector = document.getElementById('variant-selector');
                const selectVinVariantButton = document.getElementById('select-vin-variant');
                const paintSwatchImage = document.getElementById('paint-swatch-image');
            
            
                if(selectVinVariantButton) {
                // Event listener for the "Match Paint by VIN" button
                selectVinVariantButton.addEventListener('click', function() {
                    // Find the option with the text "Match Paint by VIN"
                    paintSwatchImage.display = "block";
                    for (let i = 0; i < variantSelector.options.length; i++) {
                    if (variantSelector.options[i].text.includes('Match Paint by VIN')) {
                        variantSelector.selectedIndex = i;
                        variantSelector.dispatchEvent(new Event('change')); // Trigger the change event
                        break;
                    }
                    }
                });
              };
            });
  
  
        document.addEventListener('DOMContentLoaded', function() {
            const variantSelector = document.getElementById('variant-selector');
            const vinTextBox = document.getElementById('vin-textbox');
            const vinTextBoxOEM = document.getElementById('vin-textbox-for-oem');
            const addToCartButton = document.getElementById('add-to-cart');
            const useVinButton = document.getElementById('select-vin-variant');
            const paintOrVin = document.querySelector('.paint-or-vin');

    
            // Function to check if the selected variant is the VIN variant
            function checkVariant() {
              if(vinTextBox) {
                const selectedOption = variantSelector.options[variantSelector.selectedIndex].text;
                if (selectedOption.includes('Match Paint by VIN')) {
                    paintOrVin.style.visibility = "hidden";
                    vinTextBox.style.display = 'block';
                    if(useVinButton) {
                      useVinButton.style.display = 'none'; // Hide Use VIN button
                    }
    
    
                } else {
                  paintOrVin.style.visibility = "visible";
                    vinTextBox.style.display = 'none';
                    if(useVinButton) {
                      useVinButton.style.display = 'block'; // Show Use VIN button
                    }
                    vinTextBox.value = '';
                    vinSuccess = false;
                }
              }
            }

    
            // Check variant on change
            if(variantSelector) {
              variantSelector.addEventListener('change', checkVariant);
            }
    
            // Initial check in case a default selected variant is the VIN variant
            {% comment %} checkVariant(); {% endcomment %}
            if(vinTextBox) {
              document.getElementById('vin-textbox').addEventListener('input', function(event) {
                  const vinInput = event.target.value.toUpperCase();
                  const warning = document.getElementById('vin-warning');
      
                  // Remove I, O, Q characters
                  const filteredValue = vinInput.replace(/[IOQ\s:;()!@#$%^?'"&*\-_=+.`~<>{}\[\]|,\/\\]/gi, '');
      
                  if (vinInput !== filteredValue) {
                      alert("Please enter valid characters. I,O, & Q and other special characters are not included in VINs");
                  } else {
                      warning.style.display = 'none';
                  }
      
                  event.target.value = filteredValue;
      
                  // Ensure VIN input is 17 characters before enabling Add to Cart
                  if (vinInput.length === 17 && fitmentSuccess) {
                      addToCartButton.disabled = false;
                      vinSuccess = true;    
                  } else {
                      addToCartButton.disabled = true;
                      vinSuccess = false;
                  }
              });
            };

            if(!vinTextBox && vinTextBoxOEM) {
              document.getElementById('vin-textbox-for-oem').addEventListener('input', function(event) {

                  const vinInput = event.target.value.toUpperCase();
                  const warning = document.getElementById('vin-warning-for-oem');
                  const addToCartButtonForUnpaintedItems = document.getElementById("add-to-cart-for-unpainted");

      
                  // Remove I, O, Q characters
                  const filteredValue = vinInput.replace(/[IOQ\s:;()!@#$%^?'"&*\-_=+.`~<>{}\[\]|,\/\\]/gi, '');


                  if (vinInput !== filteredValue) {
                      alert("Please enter valid characters. I,O, & Q and other special characters are not included in VINs");
                  } else {
                      warning.style.display = 'none';
                  }

                  event.target.value = filteredValue;


                  // Ensure VIN input is 17 characters before enabling Add to Cart
                  if (vinInput.length === 17 && fitmentSuccess) {
                    addToCartButtonForUnpaintedItems.disabled = false;
                      vinSuccess = true;    
                  } else {
                    addToCartButtonForUnpaintedItems.disabled = true;
                      vinSuccess = false;
                  }
              });
            };
        });
  
  
  
  
  
        // This displays the VIN Input box
            document.addEventListener('DOMContentLoaded', function() {
              const variantSelector = document.getElementById('variant-selector');
              const vinTextBox = document.getElementById('vin-textbox-container');
              const addToCartButton = document.getElementById('add-to-cart');
              const vinInput = document.getElementById('vin-textbox');
              {% comment %} const vinWarning = document.getElementById('vin-warning'); {% endcomment %}
  
              // Function to check if the selected variant is the VIN variant -- Displays VIN Input box if so
              function checkVariant() {
                  const selectedOption = variantSelector.options[variantSelector.selectedIndex].text;
                  if(vinTextBox) {
                    if (selectedOption.includes('Match Paint by VIN')) {
                        vinTextBox.style.display = 'block';
                      {% comment %} vinWarning.innerText = "VIN must be exactly 17 characters.";
                        vinWarning.style.display = 'block'; {% endcomment %}
                        addToCartButton.disabled = true;
                    } else {
                        vinTextBox.style.display = 'none';
                    }
                  }
              }
  
              // Check variant on change
              variantSelector.addEventListener('change', checkVariant);
  
              // Initial check in case a default selected variant is the VIN variant
              {% comment %} checkVariant(); {% endcomment %}
          });
  </script>
  
  
  {% comment %} Formats Price for Cart {% endcomment %}
  <script>
    if({{  product.variants.size }} > 1) {
      document.getElementById('variant-selector').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];
        var price = selectedOption.getAttribute('data-price');

  
        // Format the price (assuming it's in cents, divide by 100 for dollars)
        var formattedPrice = (price / 100).toFixed(2);

  
        // Display the price
        document.getElementById('price-display').innerText = '$' + formattedPrice;
        document.getElementById('price-display-small-screen').innerText = '$' + formattedPrice;
      });
    }
  </script>
  
  {% comment %} Color Mismatch Popup {% endcomment %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const variantSelector = document.getElementById('variant-selector');
      const popup = document.getElementById('color-mismatch-popup');
      const continueBtn = document.getElementById('continue-btn');
      const cancelBtn = document.getElementById('cancel-btn');
      const mismatchMessageBtn = document.getElementById('mismatch-message');
      const mismatchBtnContainer = document.getElementById('mismatch-buttons-container');
      let variantSelectorArray = Array.from(variantSelector.options);
      let firstItem;
  
      variantSelector.addEventListener('change', function() {
        const variantId = this.value;
        const selectedOption = variantSelector.options[variantSelector.selectedIndex];
        const selectedLabel = selectedOption.label;
        const selectedVariantColor = selectedLabel.split(' ')[0];
      
        if (selectedLabel.startsWith("Match Paint by VIN") || selectedLabel.startsWith("Unpainted") || selectedLabel.startsWith("Custom Paint Code")) {
          return;
        }
  
        let cartContents = fetch(window.Shopify.routes.root + 'cart.js')
        .then(response => response.json())
        .then(data => { 
          if(data.items.length) {
            firstItem = data.items[0].variant_title;
            let isFirstItemSwatch = data.items[0].product_title.toUpperCase();
            if(isFirstItemSwatch.includes("SWATCH")) {
              return;
            }
            if(firstItem && firstItem !== selectedVariantColor) {
              const matchArray = variantSelectorArray.find(option => option.label.split(' ')[0] === firstItem);
              if(matchArray) {
                mismatchMessageBtn.textContent = `The color you selected is different from items already in your cart. Would you like to switch to ${firstItem}?`;
                cancelBtn.textContent = `Yes, Update Color`;
              } else {
                mismatchMessageBtn.textContent = "The color you selected is different from the color of items already in your cart."
                mismatchBtnContainer.style.justifyContent = "center";
                continueBtn.textContent = "Continue Anyway";
                continueBtn.style.width = "fit-content";
                cancelBtn.style.display = "none";
              }
              popup.style.display = 'block';
            }
          }
        })
        .catch(error => {
            console.error("Error fetching cart data:", error);
          })
      });
  
      if(continueBtn) {
        continueBtn.addEventListener('click', function() {
          popup.style.display = "none";
        })
      }
  
      if(cancelBtn) {
        cancelBtn.addEventListener('click', function() {
          const matchOption = variantSelectorArray.find(option => option.label.split(' ')[0] === firstItem);
    
          if(matchOption) {
            variantSelector.value = matchOption.value;
            window.handleVariantChange();
          }
          popup.style.display = "none";
        })
      }
    });
  </script>