{% comment %}
  @param product {Product}
    The product object in question

  @param selected_media {Media}
    The current selected media in the gallery

  @param aspect_ratio {string}
    The aspect ratio setting, which is either 'short', 'tall', or 'square'

  @param image_crop {boolean}
    Defines if the image should be cropped or not

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'
{% endcomment %}

{% assign primary_image = product.metafields.custom.site_primary_image %}

<div
  class="
    product-gallery--viewer
    {% if product.media.size > 0 %}
      product-gallery--has-media
    {% endif %}
  "
  data-gallery-viewer
>
  {% for media in product.media %}
    {% if forloop.first and primary_image != blank %}
      <figure
        class="
          product-gallery--media
          product-gallery--image
        "
        tabindex="-1"
        aria-hidden="false"
        data-gallery-figure
        data-gallery-index="0"
        data-gallery-selected="true"
        data-media-type="image"
        data-zoom="{{ primary_image | img_url: '2400x' }}"
        data-image-height="2400"
        data-image-width="2400"
      >
        <div class="product-gallery--image-background">
          {{
            primary_image | image_url: width: 700 | image_tag: 
            class: 'product-gallery--loaded-image', 
            loading: 'lazy'
          }}
        </div>
      </figure>
    {% else %}
      <figure
        class="
          product-gallery--media
          product-gallery--{{ media.media_type }}
        "
        tabindex="-1"
        {% if selected_media.id != media.id %}
          aria-hidden="true"
        {% else %}
          aria-hidden="false"
        {% endif %}
        data-gallery-figure
        data-gallery-index="{{ forloop.index0 }}"
        data-gallery-selected="{%- if selected_media.id == media.id -%}true{%- else -%}false{%- endif -%}"
        data-media="{{ media.id }}"
        data-media-type="{{ media.media_type }}"
        {% if media.media_type == 'image' %}
          data-zoom="{{ media | img_url: '2400x' }}"
          data-image-height="{{ media.height }}"
          data-image-width="{{ media.width }}"
        {% endif %}
      >
        {% case media.media_type %}
          {% when 'image' %}
            <div class="product-gallery--image-background">
              {{
                media | image_url: width: 700 | image_tag: 
                class: 'product-gallery--loaded-image', 
                loading: 'lazy'
              }}
            </div>
          {% when 'external_video' %}
            <div class="product-gallery--external-video">
              {% assign external_video_url = media | external_video_url %}
              {% render 'video', url: external_video_url, cover: media.preview_image %}
            </div>
          {% when 'model' %}
            {{ media | model_viewer_tag: image_size: '1024x' }}
          {% when 'video' %}
            {{ media | media_tag: image_size: '1024x' }}
          {% else %}
            {{ media | media_tag }}
        {% endcase %}
      </figure>
    {% endif %}
  {% else %}
    <figure
      class="
        product-gallery--media
        product-gallery--image
        product-gallery--image-placeholder
      "
    >
      {% if onboarding %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder--image' }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
      {% endif %}
    </figure>
  {% endfor %}
</div>

{% if gallery_hover_zoom == 'separate' %}
  <div class="product-gallery--zoomed-image" data-zoomed-image></div>
{% endif %}

