<style>
  .additional-options-title {
    font-size: 1.2rem;
    font-weight: 800;
    color: #ccc;
    margin-bottom: 10px;
  }
  .additional-options-title-disabled {
    font-size: 1.2rem;
    font-weight: 800;
    color: #ccc;
    margin-bottom: 10px;
  }
  .option-title-turbo {
    font-size: 1.1rem;
    font-weight: 800;
    color: #333;
  }

  .turbo-disabled {
    color: #ccc;
    pointer-events: none;
  }
  #option-title-turbo.disabled {
    color: #ccc;
    pointer-events: none;
  }
  {% comment %} .verifyCompatibilityButton.disabled {
    color: #ccc;
    pointer-events: none;
  } {% endcomment %}

  #turbo-type-select:hover {
    cursor: pointer;
  }
  #turbo-option:hover {
    cursor: pointer;
  }

  .turbo-type-select {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin: 10px 0;
    flex-direction: column;
    min-height: 45px;
  }

  .turbo-options-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .available-options {
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
    font-weight: 600;
    background: #0d1ca2;
    padding: 2px 5px;
    border-radius: 999px;
    font-size: 11px;
    z-index: 1;
  }

  .available-options.ready-paint {
  }

  .turbo-options-checkbox input[type='radio']:hover {
    cursor: pointer;
  }

  .turbo-option:hover {
    cursor: pointer;
  }

  label.turbo-options-checkbox:has(input:disabled) {
    color: #ccc;
    cursor: not-allowed;
  }
  .turboText:hover {
    cursor: pointer;
  }

  .turboRedirectButton {
    border-radius: 14px;
    width: 100%;
    margin-top: 15px;
    background-color: #01a601;
    color: #fff;
    padding: 7px 7px;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
  }

  .turbo-radio {
    margin-right: 3px;
    cursor: pointer;
  }
  {% comment %} .verifyCompatibilityButton {
    border-radius: 14px;
    width: 100%;
    margin-top: 24px;
    background-color: #01a601;
    color: #fff;
    padding: 7px 7px;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
  } {% endcomment %}

  .not-compatible-button {
    border-radius: 14px;
    width: 100%;
    background-color: #f4534d;
    color: #fff;
    padding: 7px 7px;
    margin-top: 8px;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
  }
  .compatible-message {
    display: inline-flex;
    align-items: center;
    background: #01a601;
    border-radius: 10px;
    padding: 10px 16px;
  }
  .not-compatible-label {
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 8px;
    color: #f4534d;
    text-align: center;
    display: block;
  }

  .not-compatible-msg-label {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    color: #f4534d;
    text-align: start;
    display: block;
  }

  .aspiration-divider {
    height: 1px;
    width: 104%;
    background-color: #000000;
    margin: 5px 0 8px 0;
    opacity: 0.8;
    position: relative;
  }
</style>
<div class="turbo-type-select turbo-disabled" data-group-index="{{key_index}}">
  <label class="additional-options-title" style="none" data-group-index="{{key_index}}">
    {{ 'aspiration_questions.header' | t }}
  </label>
  <label class="option-title-turbo" data-group-index="{{key_index}}"></label>
  <div class="turbo-options-container" data-group-index="{{key_index}}"></div>
</div>
<div class="not-compatible-msg" style="display: none;">
  <label class="not-compatible-msg-label">{{ 'aspiration_questions.not_compatible' | t }}</label>
  <button class="not-compatible-button" type="button">{{ 'aspiration_questions.find_parts' | t }}</button>
</div>

{% assign product_title = product.title %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const currentKey = "{{key_index}}";
    {% comment %} const notCompatibleMessage = document.querySelector('.not-compatible'); {% endcomment %}
    const notCompatibleBtnContainer = document.querySelector('.not-compatible-button');
    const countryOriginsInclusions = {{ product.metafields.custom.country_origin.value | json }};
    const countryOriginsExclusions = {{ product.metafields.custom.country_of_origin_exclusions.value | json }};
    const countryPrefixQuestion = {{ product.metafields.custom.country_prefix_question.value | json }};
    const groupIndex = currentKey;
    const title = document.querySelector(`.option-title-turbo[data-group-index="${groupIndex}"]`);
    const optionsContainer = document.querySelector(`.turbo-options-container[data-group-index="${groupIndex}"]`);
    const product_title = "{{ product_title }}";
    const vehicleDataContainer = document.querySelector('.vehicle-item-container.first-vehicle-item-container .vehicle-browse-catalog-container strong[data-vehicle]');
    if (vehicleDataContainer) {
      garageFirstVehicleData = vehicleDataContainer.getAttribute('data-vehicle');
    }
    const productType = '{{ product.type }}';
    const partType = productType.replace(' ', '+');
    let includedCountriesPrefix = [];
    let excludedCountriesPrefix = [];
    let currentLocale = '{{ request.locale.iso_code }}';
    let noncompatible_filter_url = '';
    
    if (currentLocale === 'en') {
      title.textContent = countryPrefixQuestion[0].question;
    } else {
      title.textContent = countryPrefixQuestion[0].spanish_question;
    }

    if (!garageFirstVehicleData) {
      notCompatibleBtnContainer.style.display = 'none';
    }

    // Create radio buttons for inclusions
    optionsContainer.innerHTML = '';
    if (countryOriginsInclusions && countryOriginsInclusions.length > 0) {
      countryOriginsInclusions.forEach((origin, idx) => {
        const vinPrefixes = Array.isArray(origin.vin_prefix) ? origin.vin_prefix.join(', ') : '';
        const countries = Array.isArray(origin.country) ? origin.country.join(', ') : '';
        const value = `${vinPrefixes} - ${countries}`;
        const optionId = `country-inclusion-radio-${groupIndex}-${idx}`;
        const div = document.createElement('div');
        div.className = 'turbo-option';
        const input = document.createElement('input');
        input.type = 'radio';
        input.name = `countryOriginOption-${groupIndex}`;
        input.value = value;
        input.id = optionId;
        input.className = 'turbo-radio';
        input.disabled = true;
        input.setAttribute('data-origin-type', 'inclusion');
        const label = document.createElement('label');
        label.className = 'turboText';
        label.setAttribute('for', optionId);
        label.setAttribute('data-group-index', groupIndex);
        label.textContent = value;
        div.appendChild(input);
        div.appendChild(label);
        div.appendChild(document.createElement('br'));
        optionsContainer.appendChild(div);
      });
    }

    // Create radio buttons for exclusions
    if (countryOriginsExclusions && countryOriginsExclusions.length > 0) {
      countryOriginsExclusions.forEach((origin, idx) => {
        noncompatible_filter_url = origin.filter_url;
        const vinPrefixes = Array.isArray(origin.vin_prefix) ? origin.vin_prefix.join(', ') : '';
        const countries = Array.isArray(origin.country) ? origin.country.join(', ') : '';
        const value = `${vinPrefixes} - ${countries}`;
        const optionId = `country-exclusion-radio-${groupIndex}-${idx}`;
        const div = document.createElement('div');
        div.className = 'turbo-option';
        const input = document.createElement('input');
        input.type = 'radio';
        input.name = `countryOriginOption-${groupIndex}`;
        input.value = value;
        input.id = optionId;
        input.className = 'turbo-radio';
        input.disabled = true;
        input.setAttribute('data-origin-type', 'exclusion');
        const label = document.createElement('label');
        label.className = 'turboText';
        label.setAttribute('for', optionId);
        label.setAttribute('data-group-index', groupIndex);
        label.textContent = value;
        div.appendChild(input);
        div.appendChild(label);
        div.appendChild(document.createElement('br'));
        optionsContainer.appendChild(div);
      });
    }

    document.querySelectorAll('.additional-options-title').forEach(function(label) {
      if (label.getAttribute('data-group-index') !== "0") {
        label.style.display = 'none';
      }
    });

    notCompatibleBtnContainer.addEventListener('click', function() {
      // Now garageFirstVehicleData contains the value of the data-vehicle attribute
      console.log('wool garageFirstVehicleData: ', garageFirstVehicleData);
      if (garageFirstVehicleData) {
        const vehicle = generateCollectionHandle(garageFirstVehicleData);
        console.log('wool vehicle: ', vehicle);
        if (vehicle) {
          window.location.href = `/collections/${vehicle}?filter.p.m.custom.country_origin=${noncompatible_filter_url}&filter.p.product_type=${partType}`;
        } else {
          alert('No link available for parts that fit your vehicle.');
        }
      } else {
        alert('No link available for parts that fit your vehicle.');
      }
    });
    document.querySelectorAll('.turbo-radio').forEach(function(radio) {
      radio.addEventListener('change', function(event) {
        event.preventDefault();
        const originType = this.getAttribute('data-origin-type');
        if (originType === 'inclusion') {
          enableProductTypeSelect();
          enableQualityDescriptionBtn();
          updateProgressHeaderColors();
          hideNotCompatibleMsg();
        } else if (originType === 'exclusion') {
          disableQualityTypeSelect();
          disableQualityDescriptionBtn();
          updateProgressHeaderColors();
          clearCombinedVariantSelect();
          disableCombinedVariantSelect();
          disablePrecisionMatchBtns();
          clearPrecisionMatchRadioButtons();
          disableVinVerificationBtns();
          clearVinVerificationRadioButtons();
          disableAddToCartButton();
          disablehowToFindPaintCodeBtn();
          disableGetPaintCodeUsingVin();
          disableSelectVinVariantBtn();
          disableVINTextboxForOEM();
          showNotCompatibleMsg();
        }
      });
    });
  });
</script>
