<style>
  .easysearch-fitment-search-widget {
    border: none;
    padding: 3px 0 0 0;
  }
    .option-dropdowns {
        color: #0073e6;
        font-weight: bold;
        border-radius: 4px;
        display: inline-block;
        margin-top: 5px;
        height: fit-content;
        width: 100%;
    }

    .option-title {
        font-size: 1.2rem;
        font-weight: 800;
        color: #333;
        margin-bottom: 3px;
    }

    .paint-code-wrapper {
        {% comment %} margin-top: 3px; {% endcomment %}
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.7s ease;
    }
    .paint-code-wrapper.show {
      max-height: fit-content;
      opacity: 1;
      margin-top: 3px;
    }

  .oos-paint-variants {
    background-color: #ffbc2c17;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    color: #4b4b4b;
    line-height: 1.3;
    padding: 4px 10px;
    border-left: 4px solid #ffae00;
    border: 1px solid #ffae00;
    border-radius: 6px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.5s ease,
      opacity 0.5s ease,
      margin 0.5s ease;
  }

  .oos-paint-variants.show {
    max-height: 500px;
    opacity: 1;
    margin: 8px 0 10px 0;
  }



    #paintcode-app-container {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.7s ease;
    }

    #paintcode-app-container.show {
      max-height: 1000px;
      opacity: 1;
      margin-top: 3px;
    }

    .two-tone-message {
      background-color: #ffbc2c17;
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;
      text-align: left;
      color: #4b4b4b;
      line-height: 1.2;
      padding: 5px;
      border-left: 4px solid #ffae00;
      border-top: 1px solid #ffae00;
      border-bottom: 1px solid #ffae00;
      border-right: 1px solid #ffae00;
      border-radius: 5px;
    }
    .two-tone-message b {
      font-weight: 800;
    }
    .two-tone-message span {
      font-weight: 800;
      color:#0000EE;
    }

    .product-options .price-info {
        font-size: 1.1rem;
        font-weight: bold;
        color: #333;
        margin-top: 1rem;
    }

    .combined-variant-dropdown {
        height: fit-content;
    }
    .combined-variant-dropdown select {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        pointer-events: auto;
        opacity: 1;
    }
    .combined-variant-dropdown select[disabled] {
        background-color: #f0f0f0;
        color: #ccc;
        pointer-events: none;
        opacity: 0.6;
    }

    .find-paint-option-link-container {
      display: flex;
      justify-content: start;
      width: 100%;
      font-size: 14px;
      color: #0000EE;
    }

    .paint-option-and-how-to-find-paint-code-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

        .paint-options-checkbox-group {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: start;
          font-weight: 500;
          margin: 10px 0;
          color: #444;
          transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
        }

        .paint-options-checkbox-group.hide {
          margin-top: 0;
          max-height: 0;
          overflow: hidden;
          opacity: 0;
        }

        input[type="checkbox"] {
          width: 16px;
          height: 16px;
        }

        .paint-options-checkbox-option:has(input:disabled) {
          color: #ccc;
          opacity: 0.7;
          cursor: not-allowed;
        }

        .paint-options-checkbox-option input[type="radio"]:disabled {
          color: #ccc;
          cursor: not-allowed;
        }

        .paint-options-checkbox-option input[type="radio"]:hover {
          cursor: pointer;
        }

        .paint-options-checkbox-option:hover {
          cursor: pointer;
        }

    .find-paint-option-link-container {
      order: 1;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #0000EE;
      margin: 3px 0 8px 0;
    }

    .option-title {
      order: 2;
    }

    @media only screen and (min-width: 769px) {
      .paint-option-and-how-to-find-paint-code-wrapper {
        flex-direction: column;
        align-items: start;
      }

      .find-paint-option-link-container {
        order: 2;
        margin-bottom: 0;
        width: fit-content;
      }

      .option-title {
        order: 1;
      }
    }
</style>

{% assign makes = settings.makes_list | split: ', ' %}
{% assign excluded_makes = settings.excluded_makes_list | split: ', ' %}
{% assign bumperdotcom_makes = settings.bumperdotcom_makes_list | split: ', ' %}
{% assign is_make_found = false %}
{% assign is_excluded_make_found = false %}
{% assign is_bumperdotcom_make_found = false %}
{% assign downcase_handle = product.handle | downcase %}

{% for make in makes %}
  {% assign downcase_make = make | downcase %}
  {% if downcase_handle contains downcase_make %}
    {% assign is_make_found = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% for excluded_make in excluded_makes %}
  {% assign downcase_excluded_make = excluded_make | downcase %}
  {% if downcase_handle contains downcase_excluded_make %}
    {% assign is_excluded_make_found = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% for bumperdotcom_make in bumperdotcom_makes %}
  {% assign downcase_bumperdotcom_make = bumperdotcom_make | downcase %}
  {% if downcase_handle contains downcase_bumperdotcom_make %}
    {% assign is_bumperdotcom_make_found = true %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="option-dropdowns">
  {% if product.variants.size > 1 %}
    {% comment %} <div class="divider"></div> {% endcomment %}
    <div class="combined-variant-dropdown">
      <div class="paint-option-and-how-to-find-paint-code-wrapper">
        {% comment %}
          <div class="find-paint-option-link-container" style="display: none;">
            <a href="#" id="open-paint-code-modal">How To Find Your Paint Code</a>
          </div>
        {% endcomment %}
        <label class="option-title" for="quality-type-select">{{ 'paint_options.title' | t }}</label>
      </div>
      <div class="paint-options-checkbox-group">
        <label class="paint-options-checkbox-option">
          <input
            type="radio"
            name="select_paint_option"
            value="select"
            id="checkbox-select-unpainted"
            disabled
          >
          {{ 'paint_options_radio_labels.unpainted' | t }}
        </label>
        <label class="paint-options-checkbox-option">
          <input
            type="radio"
            name="select_paint_option"
            value="select"
            id="checkbox-select-paint-option"
            disabled
          >
          {{ 'paint_options_radio_labels.selection' | t }}
        </label>
        {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
        <label class="paint-options-checkbox-option">
          <input
            type="radio"
            name="select_paint_option"
            value="select"
            id="checkbox-get-paint-code-with-vin"
            disabled
          >
          {{ 'paint_options_radio_labels.VIN' | t }}
        </label>
        {% comment %} {% endif %} {% endcomment %}
      </div>
      <div class="painted-stock-key-paint-level" style="display: none;">
        {{ 'variant_instock_message' | t }}
      </div>
      <div class="paint-code-wrapper">
        <select id="variant-selector" name="id" disabled>
          <option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>
        </select>
        <div class="oos-paint-variants">
          We're currently not offering this code because we are still working on perfecting the paint formula. We
          appreciate your patience and hope to be able to offer this code in the future.
          {% comment %}
            <span style="font-weight: 700; color: #000;">Unavailable</span>
            codes. We appreciate your patience and hope to have them available soon.
          {% endcomment %}
        </div>
      </div>
      {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
      <div id="paintcode-app-container">
        <div class="two-tone-message">
          {{ 'paintcode_popup.two_tone_message_beg' | t }}&nbsp;<b>{{ 'paintcode_popup.two_tone_two_tone' | t }}</b>
          {{- 'paintcode_popup.two_tone_mid' | t }}&nbsp;<span>{{ 'paintcode_popup.two_tone_message_bold' | t }}</span
          >&nbsp;{{ 'paintcode_popup.two_tone_message_end' | t }}
        </div>
        {% render 'Vin-Decoder-app' %}
      </div>
      {% comment %} {% endif %} {% endcomment %}
      {% render 'how-to-find-paint-code' %}
      {% comment %} NOTE: the vin-decoder is the exact same as 'excluded-chromedata-makes.... maybe combine them and delete the other' {% endcomment %}
      {% comment %}
        {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %}
          {% render 'vin-decoder' %}
        {% endif %}
      {% endcomment %}
    </div>
  {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const productSku = '{{ product.variants.first.sku }}';
        const productVariants = {
            aftermarket: [
              {% if product.metafields.custom.aftermarket_product %}
                {% assign aftermarket_product_handle = product.metafields.custom.aftermarket_product %}
                {% if aftermarket_product_handle %}
                  {% assign aftermarket_product = all_products[aftermarket_product_handle] %}
                  {% assign aftermarket_variant_count = aftermarket_product.variants | size %}
                  {% if aftermarket_variant_count > 0 %}
                    {% if aftermarket_product %}
                      {% assign aftermarket_base_price = aftermarket_product.variants.first.price %}
                      {% assign base_variant_inventory = 0 %}
                      {% assign aftermarket_any_available_options = false %}

              
                      {% for variant in aftermarket_product.variants %}
                        {% if variant.title contains "Unpainted" or variant.title contains "Sin pintar" %}
                          {% assign base_variant_inventory = variant.inventory_quantity %}
                        {% endif %}
              {% comment %}{% if variant.metafields.custom.hide_paint_code == true %}
                          {% continue %}
                        {% endif %}{% endcomment %}
                        {% if variant.title contains "Custom Paint Code" %}
                          {% continue %}
                        {% endif %}
                        {% assign aftermarket_variant_price = variant.price %}
                        {% assign price_difference = aftermarket_variant_price | minus: aftermarket_base_price %}

                        
                        {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                        {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                        {% if extra_inventory > 0 %}
                          {% assign aftermarket_any_available_options = true %}
                          {% assign has_extra_inventory = true %}
                        {% else %}
                          {% assign has_extra_inventory = false %}
                        {% endif %}
                          { 
                            "id": "{{ variant.id }}",
                            {% if variant.title contains "Unpainted" and shop.locale == "es"%}
                              "title": "Sin pintar +{{ price_difference | money }}",
                            {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                              "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                            {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                              "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                            {% else %}
                              "title": "{{ variant.title }} +{{ price_difference | money }}",
                            {% endif %} 
                            "price": "{{ variant.price | money }}",
                            "priceDifference": "{{ price_difference }}",
                            "color": "{{ variant.metafields.custom.paint_preview_hex_code }}",
                            "variantAvailable": "{{ variant.available }}",
                            "variantTitle": "{{ variant.title }}",
                            "variantSku": "{{ variant.sku }}",
                            "variantInventory": "{{ variant.inventory_quantity }}",
                            "extraInventory": {{ extra_inventory }},
                            "baseInventory": {{ base_variant_inventory }},
                            "hasExtraInventory": {{ has_extra_inventory }},
                            "productTitle": "{{ aftermarket_product.title | escape  }}",
                            "productDescription": {{ aftermarket_product.description | json }},
                            "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                            {% comment %} "productSku": " {{ aftermarket_product.sku }}" {% endcomment %}
                            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                              {% if variant.title contains "Match Paint by VIN" %}
                                "class": "hidden-vin-option"
                              {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                          },
                      {% endfor %}
                    {% else %}
                      <option value="" disabled>No Aftermarket Options Available</option>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <option value="" disabled>No Aftermarket Product Assigned</option>
                {% endif %}
              {% endif %}
            ],
            capa: [
              {% if product.metafields.custom.capa_product %}
                {% assign capa_product_handle = product.metafields.custom.capa_product %}
                {% if capa_product_handle %}
                  {% assign capa_product = all_products[capa_product_handle] %}
                  {% assign capa_variant_count = capa_product.variants | size %}
                  {% if capa_variant_count > 0 %}
                    {% if capa_product %}
                      {% assign capa_base_price = capa_product.variants.first.price %}
                      {% assign base_variant_inventory = 0 %}
                      {% assign capa_any_available_options = false %}

              
                      {% for variant in capa_product.variants %}
                        {% if variant.title contains "Unpainted" or variant.title contains "Sin pintar" %}
                          {% assign base_variant_inventory = variant.inventory_quantity %}
                        {% endif %}
                        {% if variant.metafields.custom.hide_paint_code == true %}
                          {% continue %}
                        {% endif %}
                        {% if variant.title contains "Custom Paint Code" %}
                          {% continue %}
                        {% endif %}
                        {% assign capa_variant_price = variant.price %}
                        {% assign price_difference = capa_variant_price | minus: capa_base_price %}
                        
                        {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                        {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                        {% if extra_inventory > 0 %}
                          {% assign capa_any_available_options = true %}
                          {% assign has_extra_inventory = true %}
                        {% else %}
                          {% assign has_extra_inventory = false %}
                        {% endif %}
                          { 
                            "id": "{{ variant.id }}",
                            {% if variant.title contains "Unpainted" and shop.locale == "es"%}
                              "title": "Sin pintar +{{ price_difference | money }}",
                            {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                              "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                            {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                              "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                            {% else %}
                              "title": "{{ variant.title }} +{{ price_difference | money }}",
                            {% endif %}
                            "price": "{{ variant.price | money }}",
                            "priceDifference": "{{ price_difference }}",
                            "color": "{{ variant.metafields.custom.paint_preview_hex_code }}",
                            "variantAvailable": "{{ variant.available }}",
                            "variantTitle": "{{ variant.title }}",
                            "variantSku": "{{ variant.sku }}",
                            "extraInventory": {{ extra_inventory }},
                            "baseInventory": {{ base_variant_inventory }},
                            "hasExtraInventory": {{ has_extra_inventory }},
                            "variantInventory": "{{ variant.inventory_quantity }}",
                            "productTitle": "{{ capa_product.title | escape  }}",
                            "productDescription": {{ capa_product.description | json }},
                            "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                            {% comment %} "productSku": " {{ capa_product.sku }}" {% endcomment %}
                            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                              {% if variant.title contains "Match Paint by VIN" %}
                                "class": "hidden-vin-option"
                              {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                          },
                      {% endfor %}
                    {% else %}
                      <option value="" disabled>No CAPA Options Available</option>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <option value="" disabled>No CAPA Product Assigned</option>
                {% endif %}
              {% endif %}
            ],
            oem: [
              {% if product.metafields.custom.oem_product %}
                {% assign oem_product_handle = product.metafields.custom.oem_product %}
                {% if oem_product_handle %}
                  {% assign oem_product = all_products[oem_product_handle] %}
                  {% assign oem_variant_count = oem_product.variants | size %}
                  {% if oem_variant_count > 0 %}
                    {% if oem_product %}
                      {% assign oem_base_price = oem_product.variants.first.price %}
                      {% assign base_variant_inventory = 0 %}
                      {% assign oem_any_available_options = false %}

              
                      {% for variant in oem_product.variants %}
                        {% if variant.title contains "Unpainted" or variant.title contains "Sin pintar" %}
                          {% assign base_variant_inventory = variant.inventory_quantity %}
                        {% endif %}
                        {% if variant.metafields.custom.hide_paint_code == true %}
                          {% continue %}
                        {% endif %}
                        {% if variant.title contains "Custom Paint Code" %}
                          {% continue %}
                        {% endif %}
                        {% assign oem_variant_price = variant.price %}
                        {% assign price_difference = oem_variant_price | minus: oem_base_price %}

                        {% assign variant_inventory = variant.inventory_quantity | default: 0 %}
                        {% assign extra_inventory = variant_inventory | minus: base_variant_inventory %}
                        {% if extra_inventory > 0 %}
                          {% assign oem_any_available_options = true %}
                          {% assign has_extra_inventory = true %}
                        {% else %}
                          {% assign has_extra_inventory = false %}
                        {% endif %}
                          { 
                            "id": "{{ variant.id }}",
                            {% if variant.title contains "Unpainted" and shop.locale == "es" %}
                              "title": "Sin pintar +{{ price_difference | money }}",
                            {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                              "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                            {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                              "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                            {% else %}
                              "title": "{{ variant.title }} +{{ price_difference | money }}",
                            {% endif %} 
                            "price": "{{ variant.price | money }}",
                            "priceDifference": "{{ price_difference }}",
                            "color": "{{ variant.metafields.custom.paint_preview_hex_code }}" ,
                            "variantAvailable": "{{ variant.available }}",
                            "variantTitle": "{{ variant.title }}",
                            "variantSku": "{{ variant.sku }}",
                            "extraInventory": {{ extra_inventory }},
                            "baseInventory": {{ base_variant_inventory }},
                            "hasExtraInventory": {{ has_extra_inventory }},
                            "variantInventory": "{{ variant.inventory_quantity }}",
                            "productTitle": "{{ oem_product.title | escape  }}",
                            "productDescription": {{ oem_product.description | json }},
                            "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                            {% comment %} "productSku": " {{ oem_product.sku }}" {% endcomment %}
                            {% comment %} {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %} {% endcomment %}
                              {% if variant.title contains "Match Paint by VIN" %}
                                "class": "hidden-vin-option"
                              {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                          },
                      {% endfor %}
                    {% else %}
                      <option value="" disabled>No OEM Options Available</option>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <option value="" disabled>No OEM Product Assigned</option>
                {% endif %}
              {% endif %}
            ],
            current: [
              {% assign current_base_price = product.variants.first.price %}
              {% for variant in product.variants %}
                {% if variant.metafields.custom.hide_paint_code == true %}
                  {% continue %}
                {% endif %}
                {% if variant.title contains "Custom Paint Code" %}
                  {% continue %}
                {% endif %}
                {% assign current_variant_price = variant.price %}
                {% assign price_difference = current_variant_price | minus: current_base_price %}
                { 
                  "id": "{{ variant.id }}",
                  {% if variant.title contains "Unpainted" and shop.locale == "es" %}
                    "title": "Sin pintar +{{ price_difference | money }}",
                  {% elsif variant.title contains "Custom Paint Code" and shop.locale == "es" %}
                    "title": "Código de pintura personalizado (Te contactaremos) +{{ price_difference | money }}",
                  {% elsif variant.title contains "Match Paint by VIN" and shop.locale == "es" %}
                    "title": "Pintura de combinación por VIN +{{ price_difference | money }}",
                  {% else %}
                    "title": "{{ variant.title }} +{{ price_difference | money }}",
                  {% endif %} 
                  "price": "{{ variant.price | money }}",
                  "priceDifference": "{{ price_difference }}",
                  "color": "{{ variant.metafields.custom.paint_preview_hex_code }}",
                  "variantAvailable": "{{ variant.available }}",
                  "variantTitle": "{{ variant.title }}",
                  "variantSku": "{{ variant.sku }}",
                  "variantInventory": "{{ variant.inventory_quantity }}",
                  "productTitle": "{{ product.title | escape }}",
                  "productDescription": {{ product.description | json }},
                  "matchPercentage": "{{ variant.metafields.custom.match_percentage }}",
                  {% comment %} "productSku": " {{ product.sku }}" {% endcomment %}
                  {% if is_make_found or is_excluded_make_found or is_bumperdotcom_make_found %}
                    {% if variant.title contains "Match Paint by VIN" %}
                      "class": "hidden-vin-option"
                    {% endif %}
                  {% endif %}
                },
              {% endfor %}
            ]
        };

        {% comment %} const productVariants = {
          aftermarket: [
            {% assign handle = product.metafields.custom.aftermarket_product %}
            {% if handle %}
              {% assign product_obj = all_products[handle] %}
              {% render 'paint-options-variants', product_obj: product_obj %}
            {% endif %}
          ],
          capa: [
            {% assign handle = product.metafields.custom.capa_product %}
            {% if handle %}
              {% assign product_obj = all_products[handle] %}
              {% render 'paint-options-variants', product_obj: product_obj %}
            {% endif %}
          ],
          oem: [
            {% assign handle = product.metafields.custom.oem_product %}
            {% if handle %}
              {% assign product_obj = all_products[handle] %}
              {% render 'paint-options-variants', product_obj: product_obj %}
            {% endif %}
          ]
        }; {% endcomment %}


        const qualityTypeSelect = document.getElementById('quality-type-select');
        {% comment %} const qualityOptions = document.querySelectorAll('.quality-option'); {% endcomment %}
        const combinedVariantSelect = document.getElementById('variant-selector');
        const selectVinVariantButton = document.getElementById('select-vin-variant');
        const priceInfo = document.querySelector('.price-info');
        const priceDisplay = document.getElementById('price-display');
        const priceDisplaySmallScreen = document.getElementById('price-display-small-screen');
        const titleElement = document.querySelector('.product-title');
        const productPartDescription = document.querySelector('.product-description-collapsible-text');
        const priceContainerLargeScreen = document.querySelector('.price-container-large-screen');
        const priceContainerSmallScreen = document.querySelector('.price-container');
        const oemVinContainer = document.querySelector('.oem-vin-container');
        const vinTextBoxForOEM = document.getElementById('vin-textbox-for-oem');
        const vinTextBoxForPaintOption = document.getElementById('vin-textbox');
        const addToCartButton = document.querySelector('.add-to-cart');
        const addToCartForUnpainted = document.querySelector('.add-to-cart-for-unpainted');
        const howToFindPaintCodeBtn = document.getElementById('how-to-find-your-paint-code-vindecoder');
        const getPaintCodeUsingVin = document.querySelector('.get-paint-code-using-vin');
        const asmSettings = document.getElementById("asm-settings");
        const isDeliveryCountdownEnabled = asmSettings.dataset.deliveryCountdown === "Enabled";
        const paintCodeWrapper = document.querySelector(".paint-code-wrapper");
        const checkboxUnpainted = document.getElementById('checkbox-select-unpainted');
        const checkboxPaintOptions = document.getElementById('checkbox-select-paint-option');
        const paintCodeAppContainer = document.getElementById('paintcode-app-container');
        const paintOptionPriceDisplay = document.querySelector('#paint-option-price-display');
        const vinOptionPriceDisplay = document.querySelector('#vin-option-price-display');
        const STOCK_POSTFIX = "{{ 'quality_level_painted_stock.postfix' | t }}";
        const AFTERMARKET_WORD = '{{ 'quality_level_painted_stock.aftermarket' | t }}';
        const AND_WORD = '{{ 'quality_level_painted_stock.and' | t }}';
        aftermarketAvailability = {{ aftermarket_any_available_options | default: false | json }};
        capaAvailability = {{ capa_any_available_options | default: false | json }};
        oemAvailability = {{ oem_any_available_options | default: false | json }};
        const hasAvailableOptions = {
          aftermarket: aftermarketAvailability,
          capa: capaAvailability,
          oem: oemAvailability
        };

        let selectedType = '';
        let dataVariantTitle = '';
        let dataVariantSku = '';
        let oem = '';
        let chromeDataMake = true; 
        let matchingByVin = false;
        let unpainted = false;
        let bannedPaintCode = false;
        let currentAddToCartBtn;

        if('{{ product.variants.size }}' <= 1) {
          unpainted = true;
        }; 

        if(addToCartButton) {
          currentAddToCartBtn = addToCartButton;
        } else if(addToCartForUnpainted) {
          currentAddToCartBtn = addToCartForUnpainted;
        }

        if(!qualityTypeSelect) {
          console.log('No quality options available');
          populateVariantDropdown('current');
        }

        if(window.enablePrepaintedMessaging) {
          if (aftermarketAvailability || capaAvailability || oemAvailability) {

            // Only aftermarket is necessary to translate as the others are acronyms
            handleQualityLevelPrePaintMsg(STOCK_POSTFIX, AFTERMARKET_WORD, AND_WORD);

            // Add the pre-painted in stock badge to qualities
            {% comment %} addInStockBadgeInQualityOptions(); {% endcomment %}
          }
        }


        function decodeHtmlEntities(text) {
          const tempElement = document.createElement('textarea');
          tempElement.innerHTML = text;
          return tempElement.value;
        }

        // For unpainted products that have multiple qualities available, need to query all possible etas 
        // on DOM content load
        if (isDeliveryCountdownEnabled) {
          // The following is for unpainted products that have quality selection
            if (!combinedVariantSelect) {
              const variants = productVariants;
              receivedProductVariants(variants);

              let unpaintedSku;
              for (let key in variants) {
                if (variants.hasOwnProperty(key)) {
                  let variant = variants[key];

                  if(variant.length) {
                    unpaintedSku = variant[0].variantSku;
                    setProductSku(unpaintedSku);
                    queryAllETAs(key, 0);
                  }
                }
              }
            }
          }

        function changingPaintOptions(matchPaintByVin) {
          let selectedOption;

          if(!matchPaintByVin) {
            selectedOption = combinedVariantSelect.options[combinedVariantSelect.selectedIndex];
           } else {
            selectedOption = combinedVariantSelect.options[2];
          };
          dataVariantTitle = selectedOption.getAttribute('data-variant-title');
          receivedDataVariantTitle(dataVariantTitle);
          dataVariantSku = selectedOption.getAttribute('data-variant-sku');
          receivedDataVariantSku(dataVariantSku);

          if(dataVariantTitle === 'Match Paint by VIN') {
            matchingByVin = true;
          } else {
            matchingByVin = false;
          }

          const selectedPrice = selectedOption ? selectedOption.dataset.price : null;
          const selectedPriceDifference = selectedOption ? selectedOption.dataset.priceDifference : "";
          const selectedColor = selectedOption ? selectedOption.dataset.color : null;
          const selectedTitle = selectedOption ? selectedOption.dataset.variantTitle : null;

          if (selectedPrice) {
              priceDisplay.textContent = selectedPrice;
              priceDisplaySmallScreen.textContent = selectedPrice;
          }

          {% comment %} updatePaintOptionPriceDisplay(selectedPriceDifference); {% endcomment %}

          selectedProductColor = selectedColor;
          if (selectedColor) {
            selectedProductTitle = selectedTitle
          }

          if (isDeliveryCountdownEnabled) {
            getCountdownAndGeoValues();
          }
          clearVinVerificationRadioButtons();
          updateProgressHeaderColors();
        }

        function updatePaintOptionPriceDisplay(priceInCents) {
          if (!paintOptionPriceDisplay) return;
        
          // Convert cents to dollars (assuming Shopify money format)
          const formattedPrice = (priceInCents / 100).toLocaleString('en-US', {
            style: 'currency',
            currency: 'USD'
          });
        
          // IF: vindecoder was not just used, change price on Select Paint Code button
          // ELSE: Change price on Use VIN button
          const wasVinJustUsed = vinDecoderJustUsed;
          vinDecoderJustUsed = false;
                
          if (!wasVinJustUsed) {
            paintOptionPriceDisplay.textContent = `+${formattedPrice}`;
          } else {
            if (vinOptionPriceDisplay) {
              vinOptionPriceDisplay.textContent = `+${formattedPrice}`;
            }
          }
        }

        
        // 2. Populate the variant dropdown based on selected product type
        async function populateVariantDropdown(selectedType) {
            if (combinedVariantSelect) {
              combinedVariantSelect.innerHTML = '<option value="" disabled selected>{{ 'paint_options.disabled_first_option' | t }}</option>';
            }

            if (combinedVariantSelect) {
              clearCombinedVariantSelect(); // Reset to first option (Select Paint Code)
              disableAddToCartButton();
            }

            // Get the relevant variants for selected product type
            let variants = productVariants[selectedType] || [];

            if(variants.length === 0) {
              variants = productVariants.current;
            }
            const variantsUpdateEvent = new CustomEvent('variantsUpdated', { detail: { variants } });
            document.dispatchEvent(variantsUpdateEvent);
            
            if (variants.length > 0) {
              if(combinedVariantSelect) {
                enableCombinedVariantSelect();
                updateProgressHeaderColors();
              }
              enablehowToFindPaintCodeBtn();
              enableGetPaintCodeUsingVin();
              enableSelectVinVariantBtn();

                variants.forEach(function(variant) {
                  const isVariantAvailable = variant.variantAvailable === "true" || variant.variantAvailable === true;

                  window.selectedVariantId = variant.id;
                  let option;

                  // Compose base label
                  let optionLabel = `${variant.title}`;

                  // If it has extra inventory, append the tag to the text
                  if(window.enablePrepaintedMessaging) {
                    if (variant.hasExtraInventory && isVariantAvailable) {
                      optionLabel += " 🚚";
                    }
                  }


                  if(chromeDataMake && boolMatchByVIN === false) {
                    // Check if the variant is "Match Paint by VIN"
                    if (variant.title.trim().startsWith("Match Paint by VIN") || variant.title.trim().startsWith("Pintura de combinación por VIN")) {
                      // Create a div instead of an option
                      const div = document.createElement("div");
                      div.classList.add("hidden-vin-option");

                      // Copy attributes to div
                      div.setAttribute("data-price", variant.price || "");
                      div.setAttribute("data-price-difference", variant.priceDifference || "");
                      div.setAttribute("data-color", variant.color || "");
                      div.setAttribute("data-variant-title", variant.variantTitle || "");
                      div.setAttribute("data-product-title", variant.productTitle || "");
                      div.setAttribute("data-variant-sku", variant.variantSku || "");
                      {% comment %} div.setAttribute("data-product-sku", variant.productSku || "");  {% endcomment %}

                      // Set text content
                      div.dataset.value = variant.id || "";
                      div.textContent = variant.title;
                      div.style.display = "none";

                      // Append div after select
                      combinedVariantSelect.insertAdjacentElement("afterend", div);
                      return;
                    } else {
                      // Create an option normally
                      option = document.createElement("option");
                      option.value = variant.id;

                      if (!isVariantAvailable) {
                        amountOfOOSPaintVariants++;
                        option.dataset.unavailable = "true";
                      } else {
                        option.dataset.unavailable = "false";
                      }

                      option.textContent = optionLabel;
                      option.dataset.price = variant.price;
                      option.dataset.color = variant.color;
                      option.dataset.variantTitle = variant.variantTitle;
                      option.dataset.priceDifference = variant.priceDifference;
                      option.dataset.productTitle = variant.productTitle;
                      option.dataset.variantSku = variant.variantSku;
                      {% comment %} option.dataset.productSku = variant.productSku || ""; // Add this line {% endcomment %}
                    }
                  } else {
                    option = document.createElement('option');
                    option.value = variant.id;

                    if (!isVariantAvailable) {
                      amountOfOOSPaintVariants++;
                      option.dataset.unavailable = "true";
                    } else {
                      option.dataset.unavailable = "false";
                    }

                    option.textContent = optionLabel;
                    option.dataset.price = variant.price;
                    option.dataset.color = variant.color;
                    option.dataset.priceDifference = variant.priceDifference;
                    option.dataset.productTitle = variant.productTitle;
                    option.dataset.variantSku = variant.variantSku;
                    {% comment %} option.dataset.productSku = variant.productSku || ""; // Add this line {% endcomment %}
                  }

                  if(failedVinDecode === true) {
                    option.style.display = "block";
                  }

                  if(variant.productTitle.length > 0) {
                    const productTitle = decodeHtmlEntities(variant.productTitle);
                    if(selectedType !== "oem") {
                      titleElement.textContent = productTitle;
                    }
                    if(productTitle.includes("CAPA")) {
                      const oemImg = document.getElementById('oem-badge');
                      if (oemImg) {
                        oemImg.remove();
                      }
                      const capaImgId = document.getElementById('capa-certified-badge');
                      if(!capaImgId) {
                        const capaImg = document.createElement('img');
                        capaImg.src = 'https://cdn.shopify.com/s/files/1/0248/6291/6693/files/Capa_Certified_Icon_26a22ba1-e72d-4724-a44d-e73fbf1f0d2d.png';
                        capaImg.alt = 'CAPA Certified';
                        capaImg.id = 'capa-certified-badge';

                        capaImg.style.position = 'relative';
                        capaImg.style.height = "34px";
                        capaImg.style.margin = "0 0 0 10px";

                        if(window.innerWidth > 720) {
                          priceContainerLargeScreen.appendChild(capaImg);
                        } else {
                          priceContainerSmallScreen.appendChild(capaImg);
                        }
                        
                      }
                    } else {  
                      if(!productTitle.includes("OEM")) {
                        const capaImg = document.getElementById('capa-certified-badge');
                        if (capaImg) {
                          capaImg.remove();
                        }
                        const oemImg = document.getElementById('oem-badge');
                        if (oemImg) {
                          oemImg.remove();
                        }
                      }
                    }
                  }

                  // Optionally add class to selected item or add tooltip
                  if (variant.hasExtraInventory) {
                    option.dataset.status = "ready-to-ship";
                    option.title = "Ready to ship"; // Tooltip when hovering
                  }
                  const tempElement = document.createElement('div');
                  tempElement.innerHTML = variant.productDescription;
                  if (productPartDescription) {
                      productPartDescription.innerHTML = tempElement.innerHTML;
                  }
                  if(combinedVariantSelect) {
                    combinedVariantSelect.appendChild(option);
                  }
                });
            } else {
                if(combinedVariantSelect) {
                  disableCombinedVariantSelect();
                  clearCombinedVariantSelect();
                  disableAddToCartButton();
                  updateProgressHeaderColors();
                }
                disablehowToFindPaintCodeBtn();
                disableGetPaintCodeUsingVin();
                disableSelectVinVariantBtn();
            }
        }

        // 3. When product type is selected
        if(qualityTypeSelect) {
          qualityTypeSelect.addEventListener('change', async function () {
            selectedType = qualityTypeSelect.value;
            const selectedOption = qualityTypeSelect.selectedOptions[0];
            window.selectedProductSku = selectedOption.getAttribute('quality-sku');

            const vinMessageParagraph = document.querySelector('.vin-decoder-message');
            const precisionMatchWrapper = document.querySelector('.product-page-precision-match-wrapper');
            const paintOptionsCheckboxGroup = document.querySelector('.paint-options-checkbox-group');

            if(precisionMatchWrapper && precisionMatchWrapper.classList.contains('show')) {
              precisionMatchWrapper.classList.remove('show');
            }
            if(paintOptionsCheckboxGroup && paintOptionsCheckboxGroup.classList.contains('hide')) {
              paintOptionsCheckboxGroup.classList.remove('hide');
            }
            if(paintCodeWrapper && paintCodeWrapper.classList.contains('show')) {
              paintCodeWrapper.classList.remove('show');
            }

            setQualitySelectedType(selectedType);
          
            togglePaintedStockKey(selectedType, hasAvailableOptions);
            handleDeliveryCountdown(selectedType);
            handleVINUIChanges(selectedType);
            updatePriceDisplay(selectedType);

            hidePaintedStockKeyPaintDisclaimer();
            clearPaintOptionRadioBtns();
            clearCombinedVariantSelect();
            disableVinVerificationBtns();
            clearVinVerificationRadioButtons();
            disablePrecisionMatchBtns()
            clearPrecisionMatchRadioButtons();
            if(combinedVariantSelect) disableVinVerificationBtns();

            if (vinMessageParagraph && (vinMessageParagraph.innerHTML.includes("will be attached to this order and") || vinMessageParagraph.innerHTML.includes("se adjuntará a esta orden"))) {
              vinMessageParagraph.style.display = 'none';
            }
          
            if (selectedType !== "oem") {
              await handleNonOEMSelection(selectedType);
            } else {
              await handleOEMSelection();
            }
          });
        }
        
        

        // 4. When a variant is selected, show the price
        if(combinedVariantSelect) { 
            combinedVariantSelect.addEventListener('change', function() {
              changingPaintOptions(false);
          });
        }




  /*******************************************************************************************************
  **                                                                                                    **
  **                                             FUNCTIONS                                              **
  **                                                                                                    **
  *******************************************************************************************************/

        function handleDeliveryCountdown(selectedType) {
          if (!isDeliveryCountdownEnabled) return;
        
          if (combinedVariantSelect) {
            receivedProductVariants(productVariants);
            setProductSku(productSku);
            queryAllETAs(selectedType, 0);
          } else {
            let variant = productVariants[selectedType]?.[0];
            if (!variant) return;
        
            receivedDataVariantTitle("Unpainted");
            receivedDataVariantSku(variant.variantSku);
            getCountdownAndGeoValues();
          }
        }
        
        function handleVINUIChanges(selectedType) {
          const container = document.querySelector('.vin-options-container');
          const vinMessageParagraph = document.querySelector('.vin-decoder-message');
        
          if (!vinMessageParagraph && combinedVariantSelect && vinTextBoxForPaintOption) {
            vinTextBoxForPaintOption.value = '';
            vinTextBoxForPaintOption.style.display = 'none';
          }
        
          if (selectVinVariantButton) selectVinVariantButton.style.display = 'block';
        
          if (selectedType === "oem") {
            if (!vinDecoderJustUsed) {
              oemVinContainer.classList.add("show");
            }
            if (container) container.style.display = "none";
          } else {
            oemVinContainer.classList.remove("show");
            if (container && container.style.display === "none") {
              container.style.display = "flex";
            }
          }
        }
        
        async function handleNonOEMSelection(selectedType) {
          if (!combinedVariantSelect) enableAddToCartButton();
        
          if (!failedVinDecode) vinTextBoxForOEM.value = '';
        
          oem = null;
          await populateVariantDropdown(selectedType);
        
          if (matchingByVin) changingPaintOptions(true);
          updateProgressHeaderColors();
        }
        
        async function handleOEMSelection() {
          const variants = productVariants['oem'];
          if (!variants || variants.length === 0) return;
        
          if (combinedVariantSelect) {
            clearCombinedVariantSelect();
            disableCombinedVariantSelect();
            disableAddToCartButton();
          } else {
            disableAddToCartButton();
          }
        
          titleElement.textContent = decodeHtmlEntities(variants[0].productTitle);
        
          if (variants[0].productTitle.includes("OEM")) addOEMBadge();
        
          const tempElement = document.createElement('div');
          tempElement.innerHTML = variants[0].productDescription;
          if (productPartDescription) productPartDescription.innerHTML = tempElement.innerHTML;
        
          if (storedDecodedVin.length) {
            vinTextBoxForOEM.value = storedDecodedVin;
          } else if (!failedVinDecode) {
            vinTextBoxForOEM.value = '';
          }

          oem = 'oem';
        
          // If the vin decoder was used, then don't disable the combined variant select section
          if (combinedVariantSelect && !vinDecoderJustUsed) {
            disableCombinedVariantSelect();
            clearCombinedVariantSelect();
            disablehowToFindPaintCodeBtn();
            disableGetPaintCodeUsingVin();
            disableAddToCartButton();
            updateProgressHeaderColors();
          }
        
          if (vinDecoderJustUsed) {
            await populateVariantDropdown(oem);
            changingPaintOptions(matchingByVin);
          }
          updateProgressHeaderColors();
        }

/*******************************************************************************************************
**                                                                                                    **
**                                            VIN TEXTBOX FOR OEM                                     **
**                                                                                                    **
*******************************************************************************************************/

      if(vinTextBoxForOEM) {
          document.getElementById('vin-textbox-for-oem').addEventListener('input', async function(event) {
            storedVin = event.target.value;
            
            const vinInput = event.target.value.toUpperCase();
            const warning = document.getElementById('vin-warning-for-oem');
            const precisionMatchWrapper = document.querySelector('.product-page-precision-match-wrapper');


            // Remove I, O, Q characters
            const filteredValue = vinInput.replace(/[IOQ\s:;()!@#$%^?'"&*\-_=+.`~<>{}\[\]|,\/\\]/gi, '');

            if (vinInput !== filteredValue) {
                alert("Please enter valid characters. I,O, & Q and other special characters are not included in VINs");
            } else {
                warning.style.display = 'none';
            }

            event.target.value = filteredValue;

            //For failed vin decode and match by vin is selected, disable the variant 
            //select because the vin textbox for oem is not displayed
            if(failedVinDecode && matchingByVin) {
              disableCombinedVariantSelect();
              clearCombinedVariantSelect();
              disablehowToFindPaintCodeBtn();
              disableGetPaintCodeUsingVin();
              disableAddToCartButton();
              await populateVariantDropdown(oem);
              if(matchingByVin) {
                changingPaintOptions(true);
              }
              updateProgressHeaderColors();
            // Ensure VIN input is 17 characters before enabling Add to Cart
            } else if (vinInput.length === 17) {
              await populateVariantDropdown(oem);
              if(!combinedVariantSelect) enableAddToCartButton();
              updateProgressHeaderColors();
            } else {
              if(precisionMatchWrapper && precisionMatchWrapper.classList.contains('show')) {
                precisionMatchWrapper.classList.remove('show');
              }
              disableCombinedVariantSelect();
              clearCombinedVariantSelect();
              disablePrecisionMatchBtns();
              clearPrecisionMatchRadioButtons();
              disableVinVerificationBtns();
              clearVinVerificationRadioButtons();
              disablehowToFindPaintCodeBtn();
              disableGetPaintCodeUsingVin();
              disableAddToCartButton();
              updateProgressHeaderColors();
            }
        });
      }


      /*******************************************************************************************************
      **                                                                                                    **
      **                                         Paint Options radio buttons                                **
      **                                                                                                    **
      *******************************************************************************************************/


          // Show/hide VIN input based on radio selection
          const radios = document.querySelectorAll('input[name="select_paint_option"]');
          radios.forEach(radio => {
            radio.addEventListener('change', function () {
              const vinMessageParagraph = document.querySelector('.vin-decoder-message');
              const oosPaintVariants = document.querySelector('.oos-paint-variants');

                //Select Paint Code
                if (checkboxPaintOptions.checked) {
                  if(!paintCodeWrapper.classList.contains('show')) paintCodeWrapper.classList.add('show');
                  if(paintCodeAppContainer) paintCodeAppContainer.classList.remove('show');
                  combinedVariantSelect.value = combinedVariantSelect.options[0].value;
      
                  hideVinMessageParagraph();

                  if(window.enablePrepaintedMessaging) {
                    if (selectedOptionHasAvailableStock === true) showPaintedStockKeyPaintDisclaimer();
                  }
                  hideOOSPaintVariantsMsg();
                  disablePrecisionMatchBtns();
                  clearPrecisionMatchRadioButtons();
                  disableVinVerificationBtns();
                  clearVinVerificationRadioButtons();
                  disableAddToCartButton();

                //Unpainted
                } else if (checkboxUnpainted.checked) {
                  const colorPreviewContainer = document.querySelector('.color-preview-container-for-customizations');
                  if(colorPreviewContainer.classList.contains('show')) colorPreviewContainer.classList.remove('show');
                  //Set the combined variant select to unpainted
                  combinedVariantSelect.value = combinedVariantSelect.options[1].value;
                  form.action = `/cart/add?id=${combinedVariantSelect.options[1].value}`;
                  {% comment %} currentAddToCartBtn.style.display = 'block'; {% endcomment %}
                  //Show combined variant select dropdown for now
                  if(paintCodeWrapper) paintCodeWrapper.classList.remove('show');
                  if(paintCodeAppContainer) paintCodeAppContainer.classList.remove('show');
                  if(window.enablePrepaintedMessaging) {
                    hidePaintedStockKeyPaintDisclaimer();
                  }
                  //If precision match exists, enable it
                  //If vin verification exists, but precision match does not, enable it
                  //If neither exist, enable add to cart
                  if(precisionMatchContainerLibrary) {
                    enablePrecisionMatchBtns();
                  } else if(vinVerificationCheckboxGroupLibrary) {
                    enableVinVerificationBtns();
                  } else {
                    enableAddToCartButton();
                  }

                //Match Paint by VIN option
                } else {
                  // If vin decoder was used and successful
                  if (boolMatchByVIN === false) {

                    // If autoSelectedColor.length, then vin decoder has been used and successful
                    if (autoSelectedColor.length) {
                      combinedVariantSelect.value = autoSelectedColor;

                      const options = Array.from(combinedVariantSelect.options);
                      options.find(option => {
                        const unavailableSelection = option.dataset.unavailable;
                        const optionVariantTitle = option.dataset.variantTitle;
                        const autoSelectedOptionTitle = autoSelectedOption.dataset.variantTitle;
                        
                        // If a user has a successful vin decode, but then changes quality and then
                        // comes back to select Use VIN, this will be blank due to the autoSelectedColor
                        // value being associated with an entirely different product
                        if(combinedVariantSelect.value === '') {
                            if(optionVariantTitle === autoSelectedOptionTitle) {
                                combinedVariantSelect.value = option.value;
                                if(unavailableSelection === "true") {
                                  if(oosPaintVariants && !oosPaintVariants.classList.contains('show')) oosPaintVariants.classList.add("show");
                                  selectedVariantUnavailable = true;
                                  bannedPaintCode = true;
                                } else {
                                  form.action = `/cart/add?id=${option.value}`;
                                }
                                return;
                            }
                        
                        // If a user has a successful vin decode, but then changes paint option and comes
                        // back to selec Use VIN, then banned paint codes message will have disappeared.
                        // The following brings the message back
                        } else {
                          if(optionVariantTitle === autoSelectedOptionTitle) {
                            if(unavailableSelection === "true") {
                              if(oosPaintVariants && !oosPaintVariants.classList.contains('show')) oosPaintVariants.classList.add("show");
                              selectedVariantUnavailable = true;
                              bannedPaintCode = true;
                            } else {
                              form.action = `/cart/add?id=${option.value}`;
                            }
                          }
                        }
                      });

                      changingPaintOptions(true);

                      if (paintCodeWrapper) paintCodeWrapper.classList.add('show');

                      // Enable or disable the following components based off of whether or the VIN Decoder
                      // resulted in a banned paint code
                      if(bannedPaintCode === false) {
                        if (precisionMatchContainerLibrary) {
                          enablePrecisionMatchBtns();
                        } else if (vinVerificationCheckboxGroupLibrary) {
                          enableVinVerificationBtns();
                        } else {
                          enableAddToCartButton();
                        }
                      } else {
                        if (precisionMatchContainerLibrary) {
                          disablePrecisionMatchBtns();
                        } else if (vinVerificationCheckboxGroupLibrary) {
                          disableVinVerificationBtns();
                        } else {
                          disableAddToCartButton();
                        }
                      }

                    // ELSE: Vin Decoder has not been used
                    } else {
                      if (paintCodeWrapper) paintCodeWrapper.classList.remove('show');
                      if (paintCodeAppContainer) paintCodeAppContainer.classList.add('show');
                      disablePrecisionMatchBtns();
                      clearPrecisionMatchRadioButtons();
                      disableVinVerificationBtns();
                      clearVinVerificationRadioButtons();
                      disableAddToCartButton();
                    }

                    if(window.enablePrepaintedMessaging) {
                      if(decodedVINHasAvailableStock) {
                        showPaintedStockKeyPaintDisclaimer();
                      } else {
                        hidePaintedStockKeyPaintDisclaimer();
                      }


                    }

                  // If vin decoder failed
                  } else {
                    let variantSelectorArray = Array.from(combinedVariantSelect.options);

                    variantSelectorArray.forEach(option => {
                      if(option.textContent.includes('Match Paint by VIN')) {
                        combinedVariantSelect.value = option.value;
                        form.action = `/cart/add?id=${option.value}`;
                        {% comment %} currentAddToCartBtn.style.display = 'block'; {% endcomment %}
                      }
                    });

                    showVinMessageParagraph();

                    //Show combined variant select dropdown for now
                    if(!paintCodeWrapper.classList.contains('show')) paintCodeWrapper.classList.add('show');
                    if(paintCodeAppContainer) paintCodeAppContainer.classList.remove('show');

                    //If precision match exists, enable it
                    //If vin verification exists, but precision match does not, enable it
                    //If neither exist, enable add to cart
                    if(window.enablePrepaintedMessaging) {
                      hidePaintedStockKeyPaintDisclaimer();
                    }
                    if(precisionMatchContainerLibrary) {
                      enablePrecisionMatchBtns();
                    } else if(vinVerificationCheckboxGroupLibrary) {
                      enableVinVerificationBtns();
                    } else {
                      enableAddToCartButton();
                    }
                  }
                }
                updateProgressHeaderColors();
            });                
        });
    });
</script>
