<style>
  .additional-options-title {
    font-size: 1.3rem;
    font-weight: 800;
    color: #e61b24;
    margin-bottom: 10px;
  }
  .additional-options-title-disabled {
    font-size: 1.3rem;
    font-weight: 800;
    color: #ccc;
    margin-bottom: 10px;
  }
  .option-title-turbo {
    font-size: 1.1rem;
    font-weight: 800;
    color: #333;
  }

  .turbo-disabled {
    color: #ccc;
    pointer-events: none;
  }
  #option-title-turbo.disabled {
    color: #ccc;
    pointer-events: none;
  }
  {% comment %} .verifyCompatibilityButton.disabled {
    color: #ccc;
    pointer-events: none;
  } {% endcomment %}

  #turbo-type-select:hover {
    cursor: pointer;
  }
  #turbo-option:hover {
    cursor: pointer;
  }

  .turbo-type-select {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin: 10px 0;
    flex-direction: column;
    min-height: 45px;
  }

  .available-options {
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
    font-weight: 600;
    background: #0d1ca2;
    padding: 2px 5px;
    border-radius: 999px;
    font-size: 11px;
    z-index: 1;
  }

  .available-options.ready-paint {
  }

  .turbo-options-checkbox input[type='radio']:hover {
    cursor: pointer;
  }

  .turbo-option:hover {
    cursor: pointer;
  }

  label.turbo-options-checkbox:has(input:disabled) {
    color: #ccc;
    cursor: not-allowed;
  }
  .turboText:hover {
    cursor: pointer;
  }

  .turboRedirectButton {
    border-radius: 14px;
    width: 100%;
    margin-top: 15px;
    background-color: #01a601;
    color: #fff;
    padding: 7px 7px;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
  }
  {% comment %} .verifyCompatibilityButton {
    border-radius: 14px;
    width: 100%;
    margin-top: 24px;
    background-color: #01a601;
    color: #fff;
    padding: 7px 7px;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
  } {% endcomment %}

  .not-compatible-button {
    border-radius: 14px;
    width: 100%;
    background-color: #e61b24;
    color: #fff;
    padding: 7px 7px;
    margin-top: 8px;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
  }
  .compatible-message {
    display: inline-flex;
    align-items: center;
    background: #01a601;
    border-radius: 10px;
    padding: 10px 16px;
  }
  .not-compatible-label {
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 8px;
    color: #e61b24;
    text-align: center;
    display: block;
  }

  .aspiration-divider {
    height: 1px;
    width: 104%;
    background-color: #000000;
    margin: 5px 0 8px 0;
    opacity: 0.8;
    position: relative;
  }
</style>
<div class="turbo-type-select turbo-disabled" data-group-index="{{key_index}}">
  <!-- <div class="aspiration-divider"></div> -->
  <label class="additional-options-title" style="none" data-group-index="{{key_index}}"
    >Additional Compatibility Questions</label
  >
  <label class="option-title-turbo" data-group-index="{{key_index}}"></label>
  <div class="turbo-option">
    <input
      type="radio"
      name="turboOption-{{key_index}}"
      value="Turbo"
      id="turbo-radio-{{key_index}}"
      class="turbo-radio"
      disabled
    >
    <label class="turboText turbo-disabled" for="turbo-radio-{{key_index}}" data-group-index="{{key_index}}"></label>
    <br>
  </div>
  <div class="turbo-option">
    <input
      type="radio"
      name="turboOption-{{key_index}}"
      value="Not Turbo"
      id="not-turbo-{{key_index}}"
      class="turbo-radio"
      disabled
    >
    <label class="turboText turbo-disabled" for="not-turbo-{{key_index}}" data-group-index="{{key_index}}"></label><br>
    <button
      class="turboRedirectButton"
      data-group-index="{{key_index}}"
      style="display: none;"
      type="button"
      onclick="turboButtonClick({{key_index}})"
    >
      Parts That Fit Your Vehicle
    </button>
    {% comment %}
      <button
        class="verifyCompatibilityButton disabled"
        data-group-index="{{key_index}}"
        style="display: none;"
        type="button"
        onclick="verifyCompatibilityButtonClick()"
      >
        Verify Part Compatibility
      </button>
    {% endcomment %}
  </div>
</div>
<div class="compatible-message" style="display: none;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20px"
    height="20px"
    viewBox="0 0 20 20"
    fill="white"
    style="flex-shrink: 0;"
  >
    <path d="M14.686 8.615A1.071 1.071 0 0 0 13.171 7.1l-4.242 4.242L7.186 9.6a1.071 1.071 0 1 0-1.515 1.515l2.5 2.5a1.071 1.071 0 0 0 1.515 0l5-5Z"></path>
    <path fill-rule="evenodd" d="M20 10c0 5.523-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0s10 4.477 10 10Zm-2.143 0a7.857 7.857 0 1 1-15.714 0 7.857 7.857 0 0 1 15.714 0Z"></path>
  </svg>
  <span style="color: #fff; font-weight: 800; margin-left: 12px;"> This Part Is Compatible With Your Vehicle </span>
</div>
<div class="not-compatible" style="display: none;">
  <label class="not-compatible-label">This Part Is Not Compatible With Your Vehicle</label>
  <button class="not-compatible-button" type="button">Parts That Fit Your Vehicle</button>
</div>

{% assign product_title = product.title %}

<script>
//FUNCTIONS
  const aspirationKeysJSON = {{ product.metafields.custom.aspirations_keys | json }};
  const aspirationQuestionReference = {{ product.metafields.custom.aspiration_questions_reference.value | json}};
  const keysArray = aspirationKeysJSON.split(',');
  const passedIndex = "{{key_index}}";
  console.log('wool keysArray: ' + keysArray);
  console.log('wool passedIndex: ' + passedIndex);
     /*if (Number(passedIndex) === (keysArray.length - 1)){
        document.querySelector('.additional-options-title').style.display = 'block';
     }*/
  {% comment %} if (Number(passedIndex) === keysArray.length - 1) {
    // Select the button for this group (using data-group-index or a unique id)
    const verifyButton = document.querySelector('.verifyCompatibilityButton[data-group-index="' + passedIndex + '"]');
    if (verifyButton) {
      verifyButton.style.display = 'block';
    }
  } {% endcomment %}
  document.querySelectorAll('.additional-options-title').forEach(function(label) {
    if (label.getAttribute('data-group-index') !== "0") {
      label.style.display = 'none';
    }
  });
  const currentKey = keysArray[passedIndex];
  const splitKey = currentKey.split('-');
  console.log('wool splitKey: ' + splitKey);
  const yesNo = splitKey[0];
  const keyValue = splitKey[1].toLowerCase();
  const renderObject= aspirationQuestionReference.aspiration_question_json_list.find(function(item) {
    return item.key === keyValue;
  });



if (renderObject) {
  const aspirationValue = renderObject.value;
  console.log(aspirationValue);
}
const questionArray = aspirationValue.split(',');
const groupIndex = passedIndex;
const title = document.querySelector(`.option-title-turbo[data-group-index="${groupIndex}"]`);
title.textContent = questionArray[0];
console.log("groupIndex: " + groupIndex);
const radios = document.querySelectorAll(`input[name="turboOption-${groupIndex}"]`);
if (radios.length >= 1) {
  if(yesNo.includes('no')) {
    radios[0].value = `${keyValue}-false`;
    radios[1].value = `No-${keyValue}-true`;
  } else {
    radios[0].value = `${keyValue}-true`;
    radios[1].value = `No-${keyValue}-false`;
  }
}
const labels = document.querySelectorAll(`.turboText[data-group-index="${groupIndex}"]`);
if (labels.length > 1) {
  labels[0].textContent = questionArray[1];
  labels[1].textContent = questionArray[2];

}



      function getYearMakeModel(url) {
      const urlObj = new URL(url);
      const parts = urlObj.pathname.split('/');
      const lastPart = parts[parts.length - 1] || parts[parts.length - 2];
      const [year, make, ...modelParts] = lastPart.split('-');
      const model = modelParts.join('+');
      const combined = [year, make, model].filter(Boolean).join('+');
      return { combined};
  }
  function filterForProductType(productTitle) {
    if (productTitle.includes('Front Bumper')) {
      return 'Front+Bumper';
    } else if (productTitle.includes('Rear Bumper')) {
      return 'Rear+Bumper';
    } else if (productTitle.includes('Hood')){
      return 'Hood';
}
      else if (productTitle.includes('Passenger Side Fender')) {
        return 'Passenger+Side+Fender';
}
        else if (productTitle.includes('Driver Side Fender')) {
          return 'Driver+Side+Fender';
}
          else if (productTitle.includes('Driver Side Fender')){
            return 'Driver+Side+Fender';

          }
          else if (productTitle.includes('Rear Lower Bumper')){
            return 'Rear+Lower+Bumper';
          }
}
    turboButton = document.querySelector('.turboRedirectButton');
    const product_title = "{{ product_title }}";
    const partType = filterForProductType(product_title);

    function turboButtonClick(groupIndex){
       const fitmentLink = document.querySelector('.easysearch-fitment-link');
         const groupContainer = document.querySelector(`.turbo-type-select[data-group-index="${groupIndex}"]`);
       if (fitmentLink) {
        console.log(fitmentLink.href);
          const vehicle = getYearMakeModel(fitmentLink);
          //console.log(vehicle.combined);
          const selected = groupContainer.querySelector('.turbo-radio:checked');
          //console.log(selected.value);
          if (selected.value.includes('turbo')) {
            //console.log(selected.value);
            window.location.href = fitmentLink.href + "?filter.p.m.custom.aspiration=Turbo&filter.p.product_type=" + partType;
      }
            else if (selected.value.includes('No-turbo')) {
                          //console.log(selected.value);
              window.location.href = fitmentLink.href + "?filter.p.m.custom.aspiration=Non+Turbo&filter.p.product_type=" + partType;
            }
        } else {
          alert('No link available for parts that fit your vehicle.');
        }
    }

    function verifyCompatibilityButtonClick(){
        const selectedValues = Array.from(document.querySelectorAll('.turbo-radio:checked')).map(radio => radio.value);
        console.log(selectedValues);
        const hasFalse = selectedValues.some(val => val.includes('false'));
        document.querySelectorAll('.turbo-type-select').forEach(function(el) {
          el.style.display = 'none';               
        });
        if (hasFalse) {
          const notCompatibleMessage = document.querySelector('.not-compatible');
          notCompatibleMessage.style.display = 'block';
          const additionalQuestionContainer = document.querySelector('.required-questions-container');
          if (additionalQuestionContainer) {
            additionalQuestionContainer.style.padding = '4px';
            additionalQuestionContainer.style.border = '1.5px solid #e61b24';
          }
        } else {
          const compatibleMessage = document.querySelector('.compatible-message');
          compatibleMessage.style.display = 'inline-flex';
          const additionalQuestionContainer = document.querySelector('.required-questions-container');
          if (additionalQuestionContainer) {
            additionalQuestionContainer.style.padding = '4px';
            additionalQuestionContainer.style.border = '1.5px solid #01A601';
          }
          enableProductTypeSelect();
          enableQualityDescriptionBtn();
          updateProgressHeaderColors();
        }


    }
document.querySelectorAll('.turbo-radio').forEach(function(radio) {
  radio.addEventListener('change', function(event) {
    event.preventDefault();
    const groupIndices = Array.from(document.querySelectorAll('.turbo-type-select')).map(div => div.getAttribute('data-group-index'));
    let allChecked = true;

    groupIndices.forEach(function(groupIndex) {
      const checked = document.querySelector(`.turbo-type-select[data-group-index="${groupIndex}"] .turbo-radio:checked`);
      if (!checked) {
        allChecked = false;
      }
    });

    {% comment %} if (allChecked) {
      document.querySelectorAll('.verifyCompatibilityButton').forEach(btn => btn.classList.remove('disabled'));
    } {% endcomment %}
  });
});
    //EVENTS
/*document.querySelectorAll('.turbo-radio').forEach(function(radio) {
  radio.addEventListener('change', function(event) {
    event.preventDefault();

    const groupContainer = radio.closest('.turbo-type-select');
    const turboRedirectButton = groupContainer.querySelector('.turboRedirectButton');
    if (this.value.includes('false')) {//Not turbo product, select is turbo OR turbo product, select is not turbo
      //console.log(this.value);
      turboRedirectButton.style.display = 'block';
                resetAllHeaderColors(false, true);
                if(qualityTypeSelect) {
                  disableQualityTypeSelect();
                  disableQualityDescriptionBtn();
                }
                clearCombinedVariantSelect();
                disableCombinedVariantSelect();
                disablePrecisionMatchBtns();
                clearPrecisionMatchRadioButtons();
                disableVinVerificationBtns();
                clearVinVerificationRadioButtons();
                disableAddToCartButton();
                disablehowToFindPaintCodeBtn();
                disableGetPaintCodeUsingVin();
                disableSelectVinVariantBtn();
                disableVINTextboxForOEM();
    }
    else{//Not turbo product, select is not turbo OR turbo product, select is turbo
          //console.log(this.value);
      turboRedirectButton.style.display = 'none';
      enableProductTypeSelect();
      enableQualityDescriptionBtn();
      updateProgressHeaderColors();
    }
  });
});*/
</script>
