<style>
    .option-title-quality {
      font-size: 1.2rem;
      font-weight: 800;
      margin-bottom: 5px;
      color: #333;
    }

    #quality-type-select.disabled {
      color: #ccc;
      pointer-events: none;
    }

    #quality-type-select:hover {
      cursor: pointer;
    }

    #quality-type-select {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      flex-wrap: wrap;
      margin: 10px 0;
      flex-direction: column;
      min-height: 45px;
    }

    {% comment %} @media (min-width: 340px) {
      #quality-type-select {
        flex-direction: row;
      }
    }

    @media (min-width: 720px) {
      #quality-type-select {
        flex-direction: column;
      }
    }

    @media (min-width: 800px) {
      #quality-type-select {
        flex-direction: row;
      }
    } {% endcomment %}

    .available-options {
      position: absolute;
      top: 2px;
      left: 2px;
      color: #fff;
      font-weight: 600;
      background: #0d1ca2;
      padding: 2px 5px;
      border-radius: 999px;
      font-size: 11px;
      z-index: 1;
    }

    .available-options.ready-paint {
    }

  .quality-options-checkbox input[type="radio"]:hover {
      cursor: pointer;
  }

  .quality-options-checkbox:hover {
      cursor: pointer;
  }

  label.quality-options-checkbox:has(input:disabled) {
    color: #ccc;
    cursor: not-allowed;
  }

    .option-title-vin {
      font-size: 1.2rem;
      font-weight: 800;
      margin-bottom: 3px;
      color: #333;
    }

    .vin-input-wrapper {
      position: relative;
      width: calc(17ch + 17ch);
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      line-height: 45px;
      box-sizing: content-box;
      display: flex;
      justify-content: center;
    }

    .vin-input-wrapper input {
      width: 100%;
      height: 45px;
      font-size: 20px;
      font-family: inherit;
      border: none;
      outline: none;
      background: transparent;
      margin: 0;
      letter-spacing: 1ch;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
      caret-color: black;
    }

    .vin-input-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent calc(2ch - 1px),
        #e0e0e0 calc(2ch - 1px),
        #e0e0e0 2ch
      );
      z-index: 1;
      pointer-events: none;
    }

    .quality-description-container {
      padding: 0 0 10px 0;
    }
</style>

{% if is_only_oem == false and is_no_quality_options == false %}
  <label class="option-title-quality" for="quality-type-select">{{ 'quality_options.title' | t }}</label>
  <div class="painted-stock-key-quality-level" style="display: none;"></div>
  <div id="quality-type-select" disabled>
    {% comment %} <option value="" disabled selected>{{ 'quality_options.disabled_first_option' | t }}</option> {% endcomment %}
    {% assign available_product_types = '' %}

    {% if product.metafields.custom.aftermarket_product %}
      {% assign available_product_types = available_product_types | append: 'aftermarket,' %}
    {% endif %}
    {% if product.metafields.custom.capa_product %}
      {% assign available_product_types = available_product_types | append: 'capa,' %}
    {% endif %}
    {% if product.metafields.custom.oem_product %}
      {% assign available_product_types = available_product_types | append: 'oem,' %}
    {% endif %}

    {% if available_product_types contains 'aftermarket' %}
      {% assign aftermarket_product_handle = product.metafields.custom.aftermarket_product %}
      {% assign aftermarket_product = all_products[aftermarket_product_handle] %}
      {% assign aftermarket_variant_count = aftermarket_product.variants | size %}
      {% assign aftermarket_sku = aftermarket_product.variants.first.sku %}

      {% if aftermarket_variant_count > 0 %}
        {% assign aftermarket_price = aftermarket_product.variants.first.price | money %}

        <label class="quality-options-checkbox">
          <input
            type="radio"
            name="quality_type"
            value="aftermarket"
            data-quality-sku="{{ aftermarket_sku }}"
            data-price="{{ aftermarket_price }}"
            {% if aftermarket_product.available %}
              data-available="true"
            {% else %}
              data-available="false"
              disabled
            {% endif %}
          >
          {% if aftermarket_product.available %}
            {{ 'quality_options.aftermarket_in_stock' | t }}
            {{ aftermarket_price }}
          {% else %}
            <span style="color: #ccc;">{{ 'quality_options.aftermarket_oos' | t }}</span>
          {% endif %}
        </label>
      {% endif %}
    {% endif %}
    {% if available_product_types contains 'capa' %}
      {% assign capa_product_handle = product.metafields.custom.capa_product %}
      {% assign capa_product = all_products[capa_product_handle] %}
      {% assign capa_variant_count = capa_product.variants | size %}
      {% assign capa_sku = capa_product.variants.first.sku %}

      {% if capa_variant_count > 0 %}
        {% assign capa_price = capa_product.variants.first.price | money %}

        <label class="quality-options-checkbox">
          <input
            type="radio"
            name="quality_type"
            value="capa"
            data-quality-sku="{{ capa_sku }}"
            data-price="{{ capa_price }}"
            {% if capa_product.available %}
              data-available="true"
            {% else %}
              data-available="false"
              disabled
            {% endif %}
          >
          {% if capa_product.available %}
            {{ 'quality_options.capa_in_stock' | t }}
            {{ capa_price }}
          {% else %}
            <span style="color: #ccc;">{{ 'quality_options.capa_oos' | t }}</span>
          {% endif %}
        </label>
      {% endif %}
    {% endif %}
    {% if available_product_types contains 'oem' %}
      {% assign oem_product_handle = product.metafields.custom.oem_product %}
      {% assign oem_product = all_products[oem_product_handle] %}
      {% assign oem_variant_count = oem_product.variants | size %}
      {% assign oem_sku = oem_product.variants.first.sku %}

      {% if oem_variant_count > 0 %}
        {% assign oem_price = oem_product.variants.first.price | money %}

        <label class="quality-options-checkbox">
          <input
            type="radio"
            name="quality_type"
            value="oem"
            data-quality-sku="{{ oem_sku }}"
            data-price="{{ oem_price }}"
            {% if oem_product.available %}
              data-available="true"
            {% else %}
              data-available="false"
              disabled
            {% endif %}
          >
          {% if oem_product.available %}
            {{ 'quality_options.oem_in_stock' | t }}
            {{ oem_price }}
          {% else %}
            <span style="color: #ccc;">{{ 'quality_options.oem_oos' | t }}</span>
          {% endif %}
        </label>
      {% endif %}
    {% endif %}
  </div>
  <div class="quality-description-container">
    {% render 'quality-description-modal', qualityTypes: available_product_types %}
  </div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', async function () {
    const productSku = '{{ product.variants.first.sku }}';
    const qualityTypeSelect = document.getElementById('quality-type-select');
    const paintCodeWrapper = document.querySelector('.paint-code-wrapper');
    const asmSettings = document.getElementById('asm-settings');
    const isDeliveryCountdownEnabled = asmSettings.dataset.deliveryCountdown === 'Enabled';
    const vinTextBoxForPaintOption = document.getElementById('vin-textbox');
    const selectVinVariantButton = document.getElementById('select-vin-variant');
    const disabledFirstOptionTranslation = '{{ 'paint_options.disabled_first_option' | t }}'
    const titleElement = document.querySelector('.product-title');
    const productPartDescription = document.querySelector('.product-description-collapsible-text');
    const combinedVariantSelect = document.getElementById('variant-selector');



    /*******************************************************************************************************
    **                                                                                                    **
    **                                            FUNCTIONS                                               **
    **                                                                                                    **
    *******************************************************************************************************/
    
    
    // Queries all of the variant ETAS for the selectedType
    function handleDeliveryCountdown(selectedType) {
      if (!isDeliveryCountdownEnabled) return;
      const localProductVariants = productVariants;

      if (combinedVariantSelect) {
        receivedProductVariants(localProductVariants);
        setProductSku(productSku);
        queryAllETAs(selectedType, 0);
      } else {
        let variant = localProductVariants[selectedType]?.[0];
        if (!variant) return;

        receivedDataVariantTitle('Unpainted');
        receivedDataVariantSku(variant.variantSku);
        getCountdownAndGeoValues();
      }
    }

    
function updatePriceDisplay(selectedType) {
  const selectedRadio = document.querySelector(`input[name="quality_type"]:checked`);
  if (!selectedRadio) return;

  const price = selectedRadio.getAttribute('data-quality-price');
  if (!price) return;

  priceDisplay.textContent = price;
  priceDisplaySmallScreen.textContent = price;
}


    function handleVINUIChanges(selectedType) {
      const container = document.querySelector('.vin-options-container');
      const vinMessageParagraph = document.querySelector('.vin-decoder-message');
      const vinVerificationOptional = document.querySelector('.fitment-verification-optional');

      // Vin Decoder hasn't been used -- reset the paint options vin textbox
      if (!vinMessageParagraph && combinedVariantSelect && vinTextBoxForPaintOption && !autoSelectedBanned) {
        vinTextBoxForPaintOption.value = '';
        vinTextBoxForPaintOption.style.display = 'none';
      }

      if (selectVinVariantButton) selectVinVariantButton.style.display = 'block';

      if (selectedType === 'oem') {
        if(vinVerificationOptional) vinVerificationOptional.style.display = 'none';
      } else {
        if(vinVerificationOptional) vinVerificationOptional.style.display = 'block';
      }
    }

    async function handleNonOEMSelection(selectedType) {
      if (!combinedVariantSelect) enableAddToCartButton();

      oem = null;
      await populateVariantDropdown(selectedType, disabledFirstOptionTranslation);

      // if (matchingByVin) changingPaintOptions(true);
      updateProgressHeaderColors();
    }

    {% comment %} async function handleOEMSelection() {
      const variants = productVariants['oem'];
      if (!variants || variants.length === 0) return;

      if (combinedVariantSelect) {
        clearCombinedVariantSelect();
        disableCombinedVariantSelect();
        disableAddToCartButton();
      } else {
        disableAddToCartButton();
      }

      titleElement.textContent = decodeHtmlEntities(variants[0].productTitle);

      if (variants[0].productTitle.includes('OEM')) addOEMBadge();

      const tempElement = document.createElement('div');
      tempElement.innerHTML = variants[0].productDescription;
      if (productPartDescription) productPartDescription.innerHTML = tempElement.innerHTML;

      oem = 'oem';

      // If the vin decoder was used, then don't disable the combined variant select section
      if (combinedVariantSelect && !vinDecoderJustUsed) {
        disableCombinedVariantSelect();
        clearCombinedVariantSelect();
        disablehowToFindPaintCodeBtn();
        disableGetPaintCodeUsingVin();
        disableAddToCartButton();
        updateProgressHeaderColors();
      }

      if (vinDecoderJustUsed) {
        await populateVariantDropdown("oem", disabledFirstOptionTranslation);
        // changingPaintOptions(matchingByVin);
      }
      updateProgressHeaderColors();
    } {% endcomment %}


    
     /*******************************************************************************************************
     **                                                                                                    **
     **                                            EVENT LISTENERS                                         **
     **                                                                                                    **
     *******************************************************************************************************/

    // qualityTypeSelect event listener
    if (qualityTypeSelect) {
const qualityRadioInputs = document.querySelectorAll('input[name="quality_type"]');

if (qualityRadioInputs.length > 0) {
  qualityRadioInputs.forEach((input) => {
    input.addEventListener('change', async function (event) {
      calculatePrice(input);
      const selectedInput = event.target;
      const selectedType = selectedInput.value;
      selectedProductType = selectedType;
      const selectedProductSku = selectedInput.getAttribute('data-quality-sku');

      const hasAvailableOptions = {
        aftermarket: aftermarketAvailability,
        capa: capaAvailability,
        oem: oemAvailability,
      };

      const precisionMatchWrapper = document.querySelector('.product-page-precision-match-wrapper');
      const paintOptionsCheckboxGroup = document.querySelector('.paint-options-checkbox-group');

      if (precisionMatchWrapper?.classList.contains('show')) {
        precisionMatchWrapper.classList.remove('show');
      }
      if (paintOptionsCheckboxGroup?.classList.contains('hide')) {
        paintOptionsCheckboxGroup.classList.remove('hide');
      }
      if (paintCodeWrapper?.classList.contains('show')) {
        paintCodeWrapper.classList.remove('show');
      }

      setQualitySelectedType(selectedType);
      togglePaintedStockKey(selectedType, hasAvailableOptions);
      handleDeliveryCountdown(selectedType);
      handleVINUIChanges(selectedType);
      updatePriceDisplay(selectedType);

      hidePaintedStockKeyPaintDisclaimer();
      clearPaintOptionRadioBtns();
      clearCombinedVariantSelect();
      clearVinVerificationRadioButtons();
      disablePrecisionMatchBtns();
      clearPrecisionMatchRadioButtons();
      hideVinMessageParagraph();

      if (combinedVariantSelect) {
        disableVinVerificationBtns();
      }

      await handleNonOEMSelection(selectedType);
    });
  });
}

    }
  });
</script>
