<style>
    {% comment %} #paintcode-app-container {
        position: relative;
        width: 100%;
        {% comment %} margin-top: 30px; {% endcomment %}
    } {% endcomment %}

    .vin-decoder-message {
        padding: 10px;
        border: 1px solid #007600;
        border-radius: 5px;
        background-color: #f4f9f4;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.5;
    }
</style>

<div>
    {% assign makes_list = settings.makes_list | split: ", " %}
    {% comment %} {% assign excluded_makes = settings.excluded_makes_list | split: ", " %} {% endcomment %}
    {% assign bumperdotcom_makes = settings.bumperdotcom_makes_list | split: ", " %}
    {% assign troublesome_makes = settings.troublesome_chromedata_makes_list | split: ", " %}
    {% assign is_makes_found = false %}
    {% assign is_excluded_make_found = false %}
    {% assign is_bumperdotcom_make_found = false %}
    {% assign is_troublesome_make = false %}
    {% assign downcase_handle = product.handle | downcase %}


    {% for make in makes_list %}
        {% if downcase_handle contains make %}
            {% assign is_makes_found = true %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% comment %} {% for excluded_make in excluded_makes %}
        {% if downcase_handle contains excluded_make %}
            {% assign is_excluded_make_found = true %}
            {% break %}
        {% endif %}
    {% endfor %} {% endcomment %}
    {% for bumperdotcom_make in bumperdotcom_makes %}
        {% if downcase_handle contains bumperdotcom_make %}
            {% assign is_bumperdotcom_make_found = true %}
            {% break %}
        {% endif %}
      {% endfor %}
    {% for troublesome_make in troublesome_makes %}
        {% if downcase_handle contains troublesome_make %}
            {% assign is_troublesome_make = true %}
            {% break %}
        {% endif %}
    {% endfor %}

    <!-- is_makes_found means chromedata, bumper is bumper.com, and troublesome is chromedata... so if none of this, then set it to excluded-->
    {% unless is_makes_found == true or is_bumperdotcom_make_found == true or is_troublesome_make == true %}
        {% assign is_excluded_make_found = true %}
    {% endunless %}
  
    <div id="product-details-for-app" data-product-title="{{ product.title }}" data-product-id="{{ product.id }}">
    </div>

    {% comment %} <div id="paintcode-app-container"> {% endcomment %}
        <iframe
            id="paintcode-iframe"
            src="https://vin-to-paintcode-app-445858330997.us-east5.run.app"
            style="width: 100%; height: 100%; min-height: 225px; border: none;"
            scrolling="no"
            allowfullscreen
            sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-modals">
        </iframe>
    {% comment %} </div> {% endcomment %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const iframe = document.getElementById('paintcode-iframe');
        const parentUrl = window.location.href;
        const productDetailsElement = document.getElementById('product-details-for-app');
        const paintCodeWrapper = document.querySelector(".paint-code-wrapper");
        const paintCodeAppContainer = document.getElementById('paintcode-app-container');
        const paintOptionsCheckboxGroup = document.querySelector('.paint-options-checkbox-group');
        let isExcludedValue = '{{ is_excluded_make_found }}';
        let isBumperdotcom = '{{ is_bumperdotcom_make_found }}';
        const themeName = "{{ theme.name | escape }}" || 'Unknown Theme';
        {% comment %} window.failedVinDecode = false; {% endcomment %}

        const getIpAddress = async () => {
            try {
              const response = await fetch('https://api.ipify.org?format=json');
              const data = await response.json();
              console.log('ip addy: ', data.ip);
              return data.ip; // Returns the client's public IP
            } catch (error) {
              console.error("Error fetching IP address:", error);
              return null;
            }
          };


          {% comment %} Getting the product variants with color names for subarus and other complicated ChromeData searches {% endcomment %}
          const troublesomeMakesColors = {};

        {% if is_troublesome_make == true %}
          {% assign product_variants = product.variants %}
            {% assign variant_count = product_variants | size %}
            
            {% if variant_count > 0 %}
                {% for variant in product_variants %}
                {% if variant.metafields.custom.chromedata_reference %}
                    troublesomeMakesColors[{{ variant.metafields.custom.chromedata_reference }}] = '{{ variant.title }}';
                {% endif %}
                {% endfor %}
          {% endif %}
        {% endif %}

          window.addEventListener('message', async function(event) {
            if (event.data.type === 'iframeReady') {
                getIpAddress().then(ipAddress => {
                    iframe.contentWindow.postMessage(
                        {
                            type: 'productPage',
                            url: parentUrl,
                            makeExcluded: isExcludedValue,
                            bumperdotcomMake: isBumperdotcom,
                            ipAddress: ipAddress,
                            troublesomeMakesColors: troublesomeMakesColors,
                            themeName: themeName
                        },
                        'https://vin-to-paintcode-app-445858330997.us-east5.run.app'
                    );
                }).catch(error => {
                    console.error('Error in getIpAddress:', error);
                });
            }
        });

        window.addEventListener('message', async function(event) {
            if (event.data.type === 'iframeReady') {
                iframe.contentWindow.postMessage(
                    {
                        type: 'language',
                        locale: '{{ shop.locale }}'
                    },
                    'https://vin-to-paintcode-app-445858330997.us-east5.run.app'
                );
            }
        });
        
        // Listen for messages from the iframe
        window.addEventListener('message', function(event) {
            if (event.origin === 'https://vin-to-paintcode-app-445858330997.us-east5.run.app') {
                if (event.data.type === 'resizeIframe') {
                    // Adjust the iframe's height based on the received data
                    iframe.style.height = event.data.height + 50 + 'px';
                }

              //Automatically select the color in the variant-selector dropdown
                if (event.data.type === "updatePaintCode") {
                  const paintCode = event.data.paintCode;
                  const vinSelected = event.data.vin;
                  storedDecodedVin = vinSelected;
                  const paintCodeWrapper = document.querySelector('.paint-code-wrapper');

                  let matchingOption = false;
                  let autoSelectedColor;

                  const variantSelector = document.getElementById('variant-selector');
                    if (variantSelector) {
                        if(!failedVinDecode) hideGetPaintCodeUsingVINCheckbox(); //wool here
                        
                        const options = Array.from(variantSelector.options);
                        options.find(option => {
                            if(option.label.split(" ")[0] === paintCode) {
                                matchingOption = true;
                                autoSelectedColor = option.value;
                                return;
                            }
                        });
    
                        if (matchingOption) {
                            variantSelector.value = autoSelectedColor;
                            document.body.classList.remove('no-scroll-paint-swatch');
                            {% comment %} hideOverlay();
                            hideModal();
                            showShopifyChat(); {% endcomment %}

                            // Create a new message to indicate the selected VIN
                            const vinMessage = document.createElement('div');
                            vinMessage.className = 'vin-decoder-message';
                            vinMessage.style.display = 'block';
                            vinMessage.innerHTML = `
                            <strong style="color: #444;">{{ 'vin_decoder_product_page.first' | t }}</strong>
                            <span style="color: #000; font-weight: 800;">${vinSelected},</span>
                            <span style="color: #444;">{{ 'vin_decoder_product_page.end' | t }}</span>
                            <span style="color: #000; font-weight: 800;">${paintCode}</span> 
                            `;
                        
                            // Append the message to the VIN textbox container
                            paintCodeWrapper.appendChild(vinMessage);
        
                            // Trigger the change event programmatically
                            variantSelector.dispatchEvent(new Event('change', { bubbles: true }));
                        } else {
                            boolMatchByVIN = true;
                            const paintCodeWrapper = document.querySelector('.paint-code-wrapper');

                            {% comment %} resortToGetPaintCodeByVin(event.data.vin, event.data.matchByVIN);
                            formulateMessage(event.data.vin); {% endcomment %}

                            console.warn(`No matching option found for paint code: ${paintCode}`);
                        }
                    } else {
                        console.warn('Variant selector dropdown not found.');
                    }
                    paintCodeWrapper.classList.add('show');
                    paintCodeAppContainer.classList.remove('show');
                    paintOptionsCheckboxGroup.classList.add('hide');
                }

                if (event.data.type === "getPaintByVIN") {
                    const paintCodeWrapper = document.querySelector('.paint-code-wrapper');

                    resortToGetPaintCodeByVin(event.data.vin, event.data.matchByVIN);
                    formulateMessage(event.data.vin);

                    paintCodeWrapper.classList.add('show');
                    paintCodeAppContainer.classList.remove('show');
                    paintOptionsCheckboxGroup.classList.add('hide');
                }
            }
        });

        function formulateMessage(vin) {
            if (combinedVariantSelectLibrary) {
                const options = Array.from(combinedVariantSelectLibrary.options);
                
                if (oemVinContainerLibrary && oemVinContainerLibrary.style.display === "block") {
                    vinTextBoxOEMLibrary.value = '';
                    oemVinContainerLibrary.style.display = "none";

                    const productTypeDropdown = oemVinContainerLibrary.closest('.product-type-dropdown');
                    if (productTypeDropdown) {
                        const nextDivider = productTypeDropdown.nextElementSibling;
                        if (nextDivider && nextDivider.classList.contains('divider')) {
                            nextDivider.style.display = 'none';
                        }
                    }
                }
        
        
                if (vinInputLibrary) {
                    vinInputLibrary.value = vin;
                  }
        
                options.find(option => {
                      if(option.label.startsWith("Match Paint by VIN") || option.label.startsWith("Pintura de combinación por VIN")) {
        
                        // const paintCodeWrapper = document.querySelector('.paint-code-wrapper');
        
                        if (vinTextboxContainer) {
                            vinTextboxContainer.style.display = "block";
        
                      
                            // Remove any existing message to avoid duplication
                            const existingMessage = vinTextboxContainer.querySelector('.vin-selected-message');
                            if (existingMessage) {
                              existingMessage.remove();
                            }
                      
                            // Create a new message to indicate the selected VIN
                            const vinMessage = document.createElement('div');
                            vinMessage.className = 'vin-decoder-message';
                            vinMessage.style.display = 'block';
                            vinMessage.innerHTML = `
                            <strong style="color: #444;">{{ 'vin_decoder_product_page.auto_attach_msg_strong' | t }}</strong> 
                            <span style="color: #000; font-weight: 800;">${vin}</span> 
                            <span style="color: #444;">{{ 'vin_decoder_product_page.will_be_attached' | t }}</span> 
                            <span style="color: #444; font-weight: bold;">{{ 'vin_decoder_product_page.bold' | t }}</span> 
                            <span style="color: #444;">{{ 'vin_decoder_product_page.for_this_item' | t }}</span>
                            `;
        
                            failedVinDecode = true;
                            if(checkboxGetPaintCodeWithVINAndLabel.style.display === "none") showGetPaintCodeUsingVINCheckbox();

                      
                            // Append the message to the VIN textbox container
                            paintCodeWrapper.appendChild(vinMessage);
                        }                                
                        combinedVariantSelectLibrary.value = option.value;
                        document.body.classList.remove('no-scroll-paint-swatch');
                        combinedVariantSelectLibrary.dispatchEvent(new Event('change', { bubbles: true }));
        
                        return;
                      }
                });   
            } else {
                console.warn('Variant selector dropdown not found.');
            }
        }
    });
</script>
